In [98]:
import pandas as pd
import numpy as np
import geopandas as gpd

In [99]:
# Get the dataframe from the avalanche records
avalanche_df = pd.read_csv('data/avalanche.csv')

In [100]:
# Get a dataframe from the list of stations.
station_df = pd.read_csv('Data\Station Inventory EN.csv')

In [101]:
avalanche_df.shape

(2450, 3)

In [102]:
station_df.shape

(8775, 19)

In [103]:
avalanche_df.head()

   Unnamed: 0                    location                   date_occured
0           0  59.713938° N 135.095702° W  Thursday, May 27, 2021, 14:00
1           1  51.171303° N 116.051255° W  Saturday, May 22, 2021, 09:00
2           2  50.427560° N 122.473110° W    Sunday, May 16, 2021, 11:00
3           3  51.394930° N 116.265450° W  Saturday, May 15, 2021, 12:00
4           4  51.395059° N 116.257463° W    Friday, May 14, 2021, 12:30

In [104]:
station_df.head()

,Name,Province,Climate ID,Station ID,WMO ID,TC ID,Latitude (Decimal Degrees),Longitude (Decimal Degrees),Latitude,Longitude,Elevation (m),First Year,Last Year,HLY First Year,HLY Last Year,DLY First Year,DLY Last Year,MLY First Year,MLY Last Year
0,ACTIVE PASS,BRITISH COLUMBIA,1010066,14,NaN,NaN,48.87,-123.28,485200000,-1231700000,4.0,1984,1996,NaN,NaN,1984.0,1996.0,1984.0,1996.0
1,ALBERT HEAD,BRITISH COLUMBIA,1010235,15,NaN,NaN,48.40,-123.48,482400000,-1232900000,17.0,1971,1995,NaN,NaN,1971.0,1995.0,1971.0,1995.0
2,BAMBERTON OCEAN CEMENT,BRITISH COLUMBIA,1010595,16,NaN,NaN,48.58,-123.52,483500000,-1233100000,85.3,1961,1980,NaN,NaN,1961.0,1980.0,1961.0,1980.0
3,BEAR CREEK,BRITISH COLUMBIA,1010720,17,NaN,NaN,48.50,-124.00,483000000,-1240000000,350.5,1910,1971,NaN,NaN,1910.0,1971.0,1910.0,1971.0
4,BEAVER LAKE,BRITISH COLUMBIA,1010774,18,NaN,NaN,48.50,-123.35,483000000,-1232100000,61.0,1894,1952,NaN,NaN,1894.0,1952.0,1894.0,1952.0

In [105]:
# Create a dataframe from station that had daily reports from 2016-2021
station_2016_df = station_df[(station_df['DLY Last Year'] >= 2020) & (station_df['DLY First Year'] <= 2016)]

In [106]:
station_2016_df.head()

,Name,Province,Climate ID,Station ID,WMO ID,TC ID,Latitude (Decimal Degrees),Longitude (Decimal Degrees),Latitude,Longitude,Elevation (m),First Year,Last Year,HLY First Year,HLY Last Year,DLY First Year,DLY Last Year,MLY First Year,MLY Last Year
12,CHEMAINUS,BRITISH COLUMBIA,1011500,26,NaN,NaN,48.94,-123.74,485606080,-1234430000,75.00,1919,2021,NaN,NaN,1919.0,2021.0,1919.0,2007.0
26,LAKE COWICHAN,BRITISH COLUMBIA,1012055,40,NaN,NaN,48.83,-124.05,484946000,-1240308000,171.00,1960,2021,NaN,NaN,1960.0,2021.0,1960.0,2007.0
28,DISCOVERY ISLAND,BRITISH COLUMBIA,1012475,27226,71031.0,WDR,48.42,-123.23,482528590,-1231332519,18.93,1997,2021,1997.0,2021.0,1997.0,2021.0,1998.0,2005.0
39,ESQUIMALT HARBOUR,BRITISH COLUMBIA,1012710,52,71798.0,WPF,48.43,-123.44,482555100,-1232621600,3.00,1957,2021,1994.0,2021.0,1957.0,2021.0,1957.0,2005.0
44,GALIANO NORTH,BRITISH COLUMBIA,10130MN,55,NaN,NaN,48.99,-123.57,485906030,-1233424020,6.00,1975,2021,NaN,NaN,1975.0,2021.0,1975.0,2007.0

In [107]:
station_2016_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1193 entries, 12 to 8769
Data columns (total 19 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Name                         1193 non-null   object
 1   Province                     1193 non-null   object
 2   Climate ID                   1193 non-null   object
 3   Station ID                   1193 non-null   int64
 4   WMO ID                       832 non-null    float64
 5   TC ID                        864 non-null    object
 6   Latitude (Decimal Degrees)   1193 non-null   float64
 7   Longitude (Decimal Degrees)  1193 non-null   float64
 8   Latitude                     1193 non-null   int64
 9   Longitude                    1193 non-null   int64
 10  Elevation (m)                1193 non-null   float64
 11  First Year                   1193 non-null   int64
 12  Last Year                    1193 non-null   int64
 13  HLY First Year               867 non-null    float64
 14  HLY Last Year                867 non-null    float64
 15  DLY First Year               1193 non-null   float64
 16  DLY Last Year                1193 non-null   float64
 17  MLY First Year               818 non-null    float64
 18  MLY Last Year                818 non-null    float64
dtypes: float64(10), int64(5), object(4)
memory usage: 186.4+ KB

In [108]:
# Creates an array of the location column split up
locations = avalanche_df['location'].str.split(expand=True)

In [109]:
# Adds latitude and longitude to the dataframe 
avalanche_df['latitude'] = locations[0]
avalanche_df['longitude'] = locations[2]
avalanche_df.drop('location', axis = 1, inplace=True)

In [110]:
# Drops the unneeded columns from the dataset
columns_to_drop = ['WMO ID','TC ID','Elevation (m)','HLY First Year','HLY Last Year','First Year','Last Year','MLY First Year','MLY Last Year']
station_2016_df.drop(columns_to_drop, axis = 1, inplace = True)

In [111]:
station_2016_df

,Name,Province,Climate ID,Station ID,Latitude (Decimal Degrees),Longitude (Decimal Degrees),Latitude,Longitude,DLY First Year,DLY Last Year
12,CHEMAINUS,BRITISH COLUMBIA,1011500,26,48.94,-123.74,485606080,-1234430000,1919.0,2021.0
26,LAKE COWICHAN,BRITISH COLUMBIA,1012055,40,48.83,-124.05,484946000,-1240308000,1960.0,2021.0
28,DISCOVERY ISLAND,BRITISH COLUMBIA,1012475,27226,48.42,-123.23,482528590,-1231332519,1997.0,2021.0
39,ESQUIMALT HARBOUR,BRITISH COLUMBIA,1012710,52,48.43,-123.44,482555100,-1232621600,1957.0,2021.0
44,GALIANO NORTH,BRITISH COLUMBIA,10130MN,55,48.99,-123.57,485906030,-1233424020,1975.0,2021.0
...,...,...,...,...,...,...,...,...,...,...
8735,HOPEDALE (AUT),NEWFOUNDLAND,8502400,6781,55.45,-60.22,552700000,-601300000,1942.0,2021.0
8742,MARY'S HARBOUR A,NEWFOUNDLAND,8502592,51918,52.30,-55.85,521810000,-555052000,2013.0,2021.0
8746,NAIN,NEWFOUNDLAND,8502799,10813,56.55,-61.68,563300000,-614100000,2004.0,2020.0
8760,SAGLEK,NEWFOUNDLAND,8503249,6797,58.33,-62.59,582000000,-623508000,1989.0,2021.0
8769,WABUSH A,NEWFOUNDLAND,8504177,52541,52.92,-66.86,525522000,-665153000,2014.0,2021.0

In [112]:
avalanche_df.head()

   Unnamed: 0                   date_occured    latitude    longitude
0           0  Thursday, May 27, 2021, 14:00  59.713938°  135.095702°
1           1  Saturday, May 22, 2021, 09:00  51.171303°  116.051255°
2           2    Sunday, May 16, 2021, 11:00  50.427560°  122.473110°
3           3  Saturday, May 15, 2021, 12:00  51.394930°  116.265450°
4           4    Friday, May 14, 2021, 12:30  51.395059°  116.257463°

In [113]:
# Drops the degree symbol from latitude and longitude
avalanche_df['latitude'] = avalanche_df['latitude'].map(lambda x: str(x)[:-1])
avalanche_df['longitude'] = avalanche_df['longitude'].map(lambda x: str(x)[:-1])

In [114]:
dates = avalanche_df['date_occured'].str.split(expand=True)

In [115]:
avalanche_df['weekday'] = dates[0].map(lambda x: str(x)[:-1])
avalanche_df['month'] = dates[1]
avalanche_df['day'] = dates[2].map(lambda x: str(x)[:-1])
avalanche_df['year'] = dates[3].map(lambda x: str(x)[:-1])
avalanche_df['time'] = dates[4]
avalanche_df.drop('date_occured', axis = 1, inplace = True)

In [116]:
gdf_avalanche = gpd.GeoDataFrame(
    avalanche_df, geometry=gpd.points_from_xy(avalanche_df.longitude, avalanche_df.latitude))

In [117]:
station_2016_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1193 entries, 12 to 8769
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Name                         1193 non-null   object
 1   Province                     1193 non-null   object
 2   Climate ID                   1193 non-null   object
 3   Station ID                   1193 non-null   int64
 4   Latitude (Decimal Degrees)   1193 non-null   float64
 5   Longitude (Decimal Degrees)  1193 non-null   float64
 6   Latitude                     1193 non-null   int64
 7   Longitude                    1193 non-null   int64
 8   DLY First Year               1193 non-null   float64
 9   DLY Last Year                1193 non-null   float64
dtypes: float64(4), int64(3), object(3)
memory usage: 102.5+ KB

In [118]:
station_2016_df.rename(columns = {'Latitude (Decimal Degrees)':'latitude', 
                                  'Longitude (Decimal Degrees)':'longitude'}, inplace = True)

In [119]:
# Removes the negative symbol from longitude
station_2016_df['longitude'] = station_2016_df['longitude'].map(lambda x: str(x)[1:])

In [120]:
gdf_station = gpd.GeoDataFrame(
    station_2016_df, geometry=gpd.points_from_xy(station_2016_df.longitude, station_2016_df.latitude))

In [121]:
gdf_station

,Name,Province,Climate ID,Station ID,latitude,longitude,Latitude,Longitude,DLY First Year,DLY Last Year,geometry
12,CHEMAINUS,BRITISH COLUMBIA,1011500,26,48.94,123.74,485606080,-1234430000,1919.0,2021.0,POINT (123.74000 48.94000)
26,LAKE COWICHAN,BRITISH COLUMBIA,1012055,40,48.83,124.05,484946000,-1240308000,1960.0,2021.0,POINT (124.05000 48.83000)
28,DISCOVERY ISLAND,BRITISH COLUMBIA,1012475,27226,48.42,123.23,482528590,-1231332519,1997.0,2021.0,POINT (123.23000 48.42000)
39,ESQUIMALT HARBOUR,BRITISH COLUMBIA,1012710,52,48.43,123.44,482555100,-1232621600,1957.0,2021.0,POINT (123.44000 48.43000)
44,GALIANO NORTH,BRITISH COLUMBIA,10130MN,55,48.99,123.57,485906030,-1233424020,1975.0,2021.0,POINT (123.57000 48.99000)
...,...,...,...,...,...,...,...,...,...,...,...
8735,HOPEDALE (AUT),NEWFOUNDLAND,8502400,6781,55.45,60.22,552700000,-601300000,1942.0,2021.0,POINT (60.22000 55.45000)
8742,MARY'S HARBOUR A,NEWFOUNDLAND,8502592,51918,52.30,55.85,521810000,-555052000,2013.0,2021.0,POINT (55.85000 52.30000)
8746,NAIN,NEWFOUNDLAND,8502799,10813,56.55,61.68,563300000,-614100000,2004.0,2020.0,POINT (61.68000 56.55000)
8760,SAGLEK,NEWFOUNDLAND,8503249,6797,58.33,62.59,582000000,-623508000,1989.0,2021.0,POINT (62.59000 58.33000)
8769,WABUSH A,NEWFOUNDLAND,8504177,52541,52.92,66.86,525522000,-665153000,2014.0,2021.0,POINT (66.86000 52.92000)

In [122]:
gdf_avalanche.head()

,Unnamed: 0,latitude,longitude,weekday,month,day,year,time,geometry
0,0,59.713938,135.095702,Thursday,May,27,2021,14:00,POINT (135.09570 59.71394)
1,1,51.171303,116.051255,Saturday,May,22,2021,09:00,POINT (116.05125 51.17130)
2,2,50.427560,122.473110,Sunday,May,16,2021,11:00,POINT (122.47311 50.42756)
3,3,51.394930,116.265450,Saturday,May,15,2021,12:00,POINT (116.26545 51.39493)
4,4,51.395059,116.257463,Friday,May,14,2021,12:30,POINT (116.25746 51.39506)

In [123]:
gdf_station[gdf_station['Station ID'] == 536]

,Name,Province,Climate ID,Station ID,latitude,longitude,Latitude,Longitude,DLY First Year,DLY Last Year,geometry
635,PEMBERTON AIRPORT CS,BRITISH COLUMBIA,1086082,536,50.31,122.73,501820326,-1224402720,1984.0,2021.0,POINT (122.73000 50.31000)

In [124]:
import geopandas as gpd
import numpy as np
import pandas as pd

from scipy.spatial import cKDTree
from shapely.geometry import Point

def ckdnearest(gdA, gdB):

    nA = np.array(list(gdA.geometry.apply(lambda x: (x.x, x.y))))
    nB = np.array(list(gdB.geometry.apply(lambda x: (x.x, x.y))))
    btree = cKDTree(nB)
    dist, idx = btree.query(nA, k=1)
    gdB_nearest = gdB.iloc[idx].drop(columns="geometry").reset_index(drop=True)
    gdf = pd.concat(
        [
            gdA.reset_index(drop=True),
            gdB_nearest,
            pd.Series(dist, name='dist')
        ], 
        axis=1)

    return gdf

ckdnearest(gdf_avalanche, gdf_station)

,Unnamed: 0,latitude,longitude,weekday,month,day,year,time,geometry,Name,Province,Climate ID,Station ID,latitude,longitude,Latitude,Longitude,DLY First Year,DLY Last Year,dist
0,0,59.713938,135.095702,Thursday,May,27,2021,14:00,POINT (135.09570 59.71394),WHITEHORSE A,YUKON TERRITORY,2101303,50842,60.71,135.07,604234000,-1350402000,2012.0,2021.0,0.996394
1,1,51.171303,116.051255,Saturday,May,22,2021,09:00,POINT (116.05125 51.17130),YOHO PARK,BRITISH COLUMBIA,11790J1,6844,51.44,116.34,512634400,-1162040400,1992.0,2021.0,0.394426
2,2,50.427560,122.473110,Sunday,May,16,2021,11:00,POINT (122.47311 50.42756),PEMBERTON AIRPORT CS,BRITISH COLUMBIA,1086082,536,50.31,122.73,501820326,-1224402720,1984.0,2021.0,0.282512
3,3,51.394930,116.265450,Saturday,May,15,2021,12:00,POINT (116.26545 51.39493),YOHO PARK,BRITISH COLUMBIA,11790J1,6844,51.44,116.34,512634400,-1162040400,1992.0,2021.0,0.087115
4,4,51.395059,116.257463,Friday,May,14,2021,12:30,POINT (116.25746 51.39506),YOHO PARK,BRITISH COLUMBIA,11790J1,6844,51.44,116.34,512634400,-1162040400,1992.0,2021.0,0.093979
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2445,2445,51.285000,117.570000,Thursday,November,3,2016,21:06,POINT (117.57000 51.28500),GOLDEN A,BRITISH COLUMBIA,1173210,1364,51.30,116.98,511757000,-1165856000,1902.0,2021.0,0.590191
2446,2446,51.346000,117.532000,Friday,October,28,2016,12:00,POINT (117.53200 51.34600),GOLDEN A,BRITISH COLUMBIA,1173210,1364,51.30,116.98,511757000,-1165856000,1902.0,2021.0,0.553913
2447,2447,50.917750,117.997970,Saturday,September,24,2016,13:32,POINT (117.99797 50.91775),REVELSTOKE AIRPORT AUTO,BRITISH COLUMBIA,1176755,49548,50.96,118.18,505729600,-1181034600,2012.0,2021.0,0.186869
2448,2448,50.805930,117.922780,Saturday,September,24,2016,11:34,POINT (117.92278 50.80593),REVELSTOKE AIRPORT AUTO,BRITISH COLUMBIA,1176755,49548,50.96,118.18,505729600,-1181034600,2012.0,2021.0,0.299833
2449,2449,53.500710,119.992500,Thursday,April,28,2016,15:59,POINT (119.99250 53.50071),BLUE RIVER A,BRITISH COLUMBIA,1160899,1237,52.13,119.29,520744500,-1191722300,1969.0,2021.0,1.540244

In [125]:
final_df = ckdnearest(gdf_avalanche, gdf_station)

In [126]:
final_df.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 2450 entries, 0 to 2449
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      2450 non-null   int64
 1   latitude        2450 non-null   object
 2   longitude       2450 non-null   object
 3   weekday         2450 non-null   object
 4   month           2450 non-null   object
 5   day             2450 non-null   object
 6   year            2450 non-null   object
 7   time            2437 non-null   object
 8   geometry        2450 non-null   geometry
 9   Name            2450 non-null   object
 10  Province        2450 non-null   object
 11  Climate ID      2450 non-null   object
 12  Station ID      2450 non-null   int64
 13  latitude        2450 non-null   float64
 14  longitude       2450 non-null   object
 15  Latitude        2450 non-null   int64
 16  Longitude       2450 non-null   int64
 17  DLY First Year  2450 non-null   float64
 18  DLY Last Year   2450 non-null   float64
 19  dist            2450 non-null   float64
dtypes: float64(4), geometry(1), int64(4), object(11)
memory usage: 382.9+ KB

In [127]:
gdf_station

,Name,Province,Climate ID,Station ID,latitude,longitude,Latitude,Longitude,DLY First Year,DLY Last Year,geometry
12,CHEMAINUS,BRITISH COLUMBIA,1011500,26,48.94,123.74,485606080,-1234430000,1919.0,2021.0,POINT (123.74000 48.94000)
26,LAKE COWICHAN,BRITISH COLUMBIA,1012055,40,48.83,124.05,484946000,-1240308000,1960.0,2021.0,POINT (124.05000 48.83000)
28,DISCOVERY ISLAND,BRITISH COLUMBIA,1012475,27226,48.42,123.23,482528590,-1231332519,1997.0,2021.0,POINT (123.23000 48.42000)
39,ESQUIMALT HARBOUR,BRITISH COLUMBIA,1012710,52,48.43,123.44,482555100,-1232621600,1957.0,2021.0,POINT (123.44000 48.43000)
44,GALIANO NORTH,BRITISH COLUMBIA,10130MN,55,48.99,123.57,485906030,-1233424020,1975.0,2021.0,POINT (123.57000 48.99000)
...,...,...,...,...,...,...,...,...,...,...,...
8735,HOPEDALE (AUT),NEWFOUNDLAND,8502400,6781,55.45,60.22,552700000,-601300000,1942.0,2021.0,POINT (60.22000 55.45000)
8742,MARY'S HARBOUR A,NEWFOUNDLAND,8502592,51918,52.30,55.85,521810000,-555052000,2013.0,2021.0,POINT (55.85000 52.30000)
8746,NAIN,NEWFOUNDLAND,8502799,10813,56.55,61.68,563300000,-614100000,2004.0,2020.0,POINT (61.68000 56.55000)
8760,SAGLEK,NEWFOUNDLAND,8503249,6797,58.33,62.59,582000000,-623508000,1989.0,2021.0,POINT (62.59000 58.33000)
8769,WABUSH A,NEWFOUNDLAND,8504177,52541,52.92,66.86,525522000,-665153000,2014.0,2021.0,POINT (66.86000 52.92000)

In [128]:
cols_to_drop = ['Longitude','Latitude','geometry']
final_df.drop(cols_to_drop, axis = 1, inplace = True)

In [129]:
gdf_avalanche.iloc[0:1,:].geometry.geom_type

0    Point
dtype: object

In [130]:
# Removes duplicates from the dataframe
ava_df = final_df.loc[:,~final_df.columns.duplicated()]

In [131]:
ava_df.head()

,Unnamed: 0,latitude,longitude,weekday,month,day,year,time,Name,Province,Climate ID,Station ID,DLY First Year,DLY Last Year,dist
0,0,59.713938,135.095702,Thursday,May,27,2021,14:00,WHITEHORSE A,YUKON TERRITORY,2101303,50842,2012.0,2021.0,0.996394
1,1,51.171303,116.051255,Saturday,May,22,2021,09:00,YOHO PARK,BRITISH COLUMBIA,11790J1,6844,1992.0,2021.0,0.394426
2,2,50.427560,122.473110,Sunday,May,16,2021,11:00,PEMBERTON AIRPORT CS,BRITISH COLUMBIA,1086082,536,1984.0,2021.0,0.282512
3,3,51.394930,116.265450,Saturday,May,15,2021,12:00,YOHO PARK,BRITISH COLUMBIA,11790J1,6844,1992.0,2021.0,0.087115
4,4,51.395059,116.257463,Friday,May,14,2021,12:30,YOHO PARK,BRITISH COLUMBIA,11790J1,6844,1992.0,2021.0,0.093979

In [132]:
ava_df['month'] = ava_df['month'].map({'January':1, 'February':2, 'March': 3, 'April':4, 'May': 5, 'June':6, 'July':7, 'August':8, 'September':9, 'October':10, 'November':11, 'December':12})

In [133]:
ava_df

,Unnamed: 0,latitude,longitude,weekday,month,day,year,time,Name,Province,Climate ID,Station ID,DLY First Year,DLY Last Year,dist
0,0,59.713938,135.095702,Thursday,5,27,2021,14:00,WHITEHORSE A,YUKON TERRITORY,2101303,50842,2012.0,2021.0,0.996394
1,1,51.171303,116.051255,Saturday,5,22,2021,09:00,YOHO PARK,BRITISH COLUMBIA,11790J1,6844,1992.0,2021.0,0.394426
2,2,50.427560,122.473110,Sunday,5,16,2021,11:00,PEMBERTON AIRPORT CS,BRITISH COLUMBIA,1086082,536,1984.0,2021.0,0.282512
3,3,51.394930,116.265450,Saturday,5,15,2021,12:00,YOHO PARK,BRITISH COLUMBIA,11790J1,6844,1992.0,2021.0,0.087115
4,4,51.395059,116.257463,Friday,5,14,2021,12:30,YOHO PARK,BRITISH COLUMBIA,11790J1,6844,1992.0,2021.0,0.093979
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2445,2445,51.285000,117.570000,Thursday,11,3,2016,21:06,GOLDEN A,BRITISH COLUMBIA,1173210,1364,1902.0,2021.0,0.590191
2446,2446,51.346000,117.532000,Friday,10,28,2016,12:00,GOLDEN A,BRITISH COLUMBIA,1173210,1364,1902.0,2021.0,0.553913
2447,2447,50.917750,117.997970,Saturday,9,24,2016,13:32,REVELSTOKE AIRPORT AUTO,BRITISH COLUMBIA,1176755,49548,2012.0,2021.0,0.186869
2448,2448,50.805930,117.922780,Saturday,9,24,2016,11:34,REVELSTOKE AIRPORT AUTO,BRITISH COLUMBIA,1176755,49548,2012.0,2021.0,0.299833
2449,2449,53.500710,119.992500,Thursday,4,28,2016,15:59,BLUE RIVER A,BRITISH COLUMBIA,1160899,1237,1969.0,2021.0,1.540244

In [134]:
ava_df.head(5)

,Unnamed: 0,latitude,longitude,weekday,month,day,year,time,Name,Province,Climate ID,Station ID,DLY First Year,DLY Last Year,dist
0,0,59.713938,135.095702,Thursday,5,27,2021,14:00,WHITEHORSE A,YUKON TERRITORY,2101303,50842,2012.0,2021.0,0.996394
1,1,51.171303,116.051255,Saturday,5,22,2021,09:00,YOHO PARK,BRITISH COLUMBIA,11790J1,6844,1992.0,2021.0,0.394426
2,2,50.427560,122.473110,Sunday,5,16,2021,11:00,PEMBERTON AIRPORT CS,BRITISH COLUMBIA,1086082,536,1984.0,2021.0,0.282512
3,3,51.394930,116.265450,Saturday,5,15,2021,12:00,YOHO PARK,BRITISH COLUMBIA,11790J1,6844,1992.0,2021.0,0.087115
4,4,51.395059,116.257463,Friday,5,14,2021,12:30,YOHO PARK,BRITISH COLUMBIA,11790J1,6844,1992.0,2021.0,0.093979

In [135]:
ava_df.info

<bound method DataFrame.info of       Unnamed: 0   latitude   longitude   weekday  month day  year   time  \
0              0  59.713938  135.095702  Thursday      5  27  2021  14:00
1              1  51.171303  116.051255  Saturday      5  22  2021  09:00
2              2  50.427560  122.473110    Sunday      5  16  2021  11:00
3              3  51.394930  116.265450  Saturday      5  15  2021  12:00
4              4  51.395059  116.257463    Friday      5  14  2021  12:30
...          ...        ...         ...       ...    ...  ..   ...    ...
2445        2445  51.285000  117.570000  Thursday     11   3  2016  21:06
2446        2446  51.346000  117.532000    Friday     10  28  2016  12:00
2447        2447  50.917750  117.997970  Saturday      9  24  2016  13:32
2448        2448  50.805930  117.922780  Saturday      9  24  2016  11:34
2449        2449  53.500710  119.992500  Thursday      4  28  2016  15:59

                         Name          Province Climate ID  Station ID  \
0                WHITEHORSE A   YUKON TERRITORY    2101303       50842
1                   YOHO PARK  BRITISH COLUMBIA    11790J1        6844
2        PEMBERTON AIRPORT CS  BRITISH COLUMBIA    1086082         536
3                   YOHO PARK  BRITISH COLUMBIA    11790J1        6844
4                   YOHO PARK  BRITISH COLUMBIA    11790J1        6844
...                       ...               ...        ...         ...
2445                 GOLDEN A  BRITISH COLUMBIA    1173210        1364
2446                 GOLDEN A  BRITISH COLUMBIA    1173210        1364
2447  REVELSTOKE AIRPORT AUTO  BRITISH COLUMBIA    1176755       49548
2448  REVELSTOKE AIRPORT AUTO  BRITISH COLUMBIA    1176755       49548
2449             BLUE RIVER A  BRITISH COLUMBIA    1160899        1237

      DLY First Year  DLY Last Year      dist
0             2012.0         2021.0  0.996394
1             1992.0         2021.0  0.394426
2             1984.0         2021.0  0.282512
3             1992.0         2021.0  0.087115
4             1992.0         2021.0  0.093979
...              ...            ...       ...
2445          1902.0         2021.0  0.590191
2446          1902.0         2021.0  0.553913
2447          2012.0         2021.0  0.186869
2448          2012.0         2021.0  0.299833
2449          1969.0         2021.0  1.540244

[2450 rows x 15 columns]>

In [136]:
list_of_stations = ava_df['Station ID'].unique()

In [137]:
list_of_stations.sort()

In [138]:
list_of_stations

array([  145,   162,   181,   209,   225,   257,   277,   283,   323,
         336,   348,   403,   442,   450,   470,   536,   568,   636,
         650,   698,   706,   731,   776,   823,   924,   951,   979,
        1041,  1056,  1070,  1095,  1105,  1106,  1115,  1137,  1142,
        1180,  1186,  1194,  1199,  1207,  1237,  1309,  1340,  1364,
        1367,  1400,  1485,  1504,  2402,  5310,  6610,  6817,  6833,
        6838,  6839,  6840,  6843,  6844,  6938,  8935,  8999, 10104,
       10222, 10223, 10665, 10761, 10890, 10930, 11005, 26850, 27121,
       27195, 27378, 27388, 27533, 29733, 30543, 30669, 31067, 43500,
       45267, 46867, 48168, 48208, 48369, 48628, 48688, 48870, 49492,
       49548, 49628, 50028, 50089, 50269, 50818, 50842, 51037, 51297,
       51517, 51658, 51818, 52398, 52541], dtype=int64)

In [139]:
ava_df['Station ID'] = ava_df['Station ID'].astype('str')

In [140]:
with open('stations-11-06-21.txt', 'w') as station_data:
    station_data.write(str(list_of_stations))

In [141]:
import glob

path = r'C:\cygwin64\weather_data' # use your path
all_files = glob.glob(path +'\*.csv')

weather_df = pd.DataFrame()
for f in all_files:
    csv = pd.read_csv(f)
    weather_df = weather_df.append(csv)
    print(f, end='\n')

018.csv
C:\cygwin64\weather_data\11422019.csv
C:\cygwin64\weather_data\11422020.csv
C:\cygwin64\weather_data\11422021.csv
C:\cygwin64\weather_data\11802016.csv
C:\cygwin64\weather_data\11802017.csv
C:\cygwin64\weather_data\11802018.csv
C:\cygwin64\weather_data\11802019.csv
C:\cygwin64\weather_data\11802020.csv
C:\cygwin64\weather_data\11802021.csv
C:\cygwin64\weather_data\11862016.csv
C:\cygwin64\weather_data\11862017.csv
C:\cygwin64\weather_data\11862018.csv
C:\cygwin64\weather_data\11862019.csv
C:\cygwin64\weather_data\11862020.csv
C:\cygwin64\weather_data\11862021.csv
C:\cygwin64\weather_data\11942016.csv
C:\cygwin64\weather_data\11942017.csv
C:\cygwin64\weather_data\11942018.csv
C:\cygwin64\weather_data\11942019.csv
C:\cygwin64\weather_data\11942020.csv
C:\cygwin64\weather_data\11942021.csv
C:\cygwin64\weather_data\11992016.csv
C:\cygwin64\weather_data\11992017.csv
C:\cygwin64\weather_data\11992018.csv
C:\cygwin64\weather_data\11992019.csv
C:\cygwin64\weather_data\11992020.csv
C:\cygwin64\weather_data\11992021.csv
C:\cygwin64\weather_data\12072016.csv
C:\cygwin64\weather_data\12072017.csv
C:\cygwin64\weather_data\12072018.csv
C:\cygwin64\weather_data\12072019.csv
C:\cygwin64\weather_data\12072020.csv
C:\cygwin64\weather_data\12072021.csv
C:\cygwin64\weather_data\12372016.csv
C:\cygwin64\weather_data\12372017.csv
C:\cygwin64\weather_data\12372018.csv
C:\cygwin64\weather_data\12372019.csv
C:\cygwin64\weather_data\12372020.csv
C:\cygwin64\weather_data\12372021.csv
C:\cygwin64\weather_data\13092016.csv
C:\cygwin64\weather_data\13092017.csv
C:\cygwin64\weather_data\13092018.csv
C:\cygwin64\weather_data\13092019.csv
C:\cygwin64\weather_data\13092020.csv
C:\cygwin64\weather_data\13092021.csv
C:\cygwin64\weather_data\13402016.csv
C:\cygwin64\weather_data\13402017.csv
C:\cygwin64\weather_data\13402018.csv
C:\cygwin64\weather_data\13402019.csv
C:\cygwin64\weather_data\13402020.csv
C:\cygwin64\weather_data\13402021.csv
C:\cygwin64\weather_data\13642016.csv
C:\cygwin64\weather_data\13642017.csv
C:\cygwin64\weather_data\13642018.csv
C:\cygwin64\weather_data\13642019.csv
C:\cygwin64\weather_data\13642020.csv
C:\cygwin64\weather_data\13642021.csv
C:\cygwin64\weather_data\13672016.csv
C:\cygwin64\weather_data\13672017.csv
C:\cygwin64\weather_data\13672018.csv
C:\cygwin64\weather_data\13672019.csv
C:\cygwin64\weather_data\13672020.csv
C:\cygwin64\weather_data\13672021.csv
C:\cygwin64\weather_data\14002016.csv
C:\cygwin64\weather_data\14002017.csv
C:\cygwin64\weather_data\14002018.csv
C:\cygwin64\weather_data\14002019.csv
C:\cygwin64\weather_data\14002020.csv
C:\cygwin64\weather_data\14002021.csv
C:\cygwin64\weather_data\1452016.csv
C:\cygwin64\weather_data\1452017.csv
C:\cygwin64\weather_data\1452018.csv
C:\cygwin64\weather_data\1452019.csv
C:\cygwin64\weather_data\1452020.csv
C:\cygwin64\weather_data\1452021.csv
C:\cygwin64\weather_data\14852016.csv
C:\cygwin64\weather_data\14852017.csv
C:\cygwin64\weather_data\14852018.csv
C:\cygwin64\weather_data\14852019.csv
C:\cygwin64\weather_data\14852020.csv
C:\cygwin64\weather_data\14852021.csv
C:\cygwin64\weather_data\15042016.csv
C:\cygwin64\weather_data\15042017.csv
C:\cygwin64\weather_data\15042018.csv
C:\cygwin64\weather_data\15042019.csv
C:\cygwin64\weather_data\15042020.csv
C:\cygwin64\weather_data\15042021.csv
C:\cygwin64\weather_data\1622016.csv
C:\cygwin64\weather_data\1622017.csv
C:\cygwin64\weather_data\1622018.csv
C:\cygwin64\weather_data\1622019.csv
C:\cygwin64\weather_data\1622020.csv
C:\cygwin64\weather_data\1622021.csv
C:\cygwin64\weather_data\1812016.csv
C:\cygwin64\weather_data\1812017.csv
C:\cygwin64\weather_data\1812018.csv
C:\cygwin64\weather_data\1812019.csv
C:\cygwin64\weather_data\1812020.csv
C:\cygwin64\weather_data\1812021.csv
C:\cygwin64\weather_data\2092016.csv
C:\cygwin64\weather_data\2092017.csv
C:\cygwin64\weather_data\2092018.csv
C:\cygwin64\weather_data\2092019.csv
C:\cygwin64\weather_data\2092020.csv
C:\cygwin64\weather_data\2092021.csv
C:\cygwin64\weather_data\2252016.csv
C:\cygwin64\weather_data\2252017.csv
C:\cygwin64\weather_data\2252018.csv
C:\cygwin64\weather_data\2252019.csv
C:\cygwin64\weather_data\2252020.csv
C:\cygwin64\weather_data\2252021.csv
C:\cygwin64\weather_data\24022016.csv
C:\cygwin64\weather_data\24022017.csv
C:\cygwin64\weather_data\24022018.csv
C:\cygwin64\weather_data\24022019.csv
C:\cygwin64\weather_data\24022020.csv
C:\cygwin64\weather_data\24022021.csv
C:\cygwin64\weather_data\2572016.csv
C:\cygwin64\weather_data\2572017.csv
C:\cygwin64\weather_data\2572018.csv
C:\cygwin64\weather_data\2572019.csv
C:\cygwin64\weather_data\2572020.csv
C:\cygwin64\weather_data\2572021.csv
C:\cygwin64\weather_data\268502016.csv
C:\cygwin64\weather_data\268502017.csv
C:\cygwin64\weather_data\268502018.csv
C:\cygwin64\weather_data\268502019.csv
C:\cygwin64\weather_data\268502020.csv
C:\cygwin64\weather_data\268502021.csv
C:\cygwin64\weather_data\271212016.csv
C:\cygwin64\weather_data\271212017.csv
C:\cygwin64\weather_data\271212018.csv
C:\cygwin64\weather_data\271212019.csv
C:\cygwin64\weather_data\271212020.csv
C:\cygwin64\weather_data\271212021.csv
C:\cygwin64\weather_data\271952016.csv
C:\cygwin64\weather_data\271952017.csv
C:\cygwin64\weather_data\271952018.csv
C:\cygwin64\weather_data\271952019.csv
C:\cygwin64\weather_data\271952020.csv
C:\cygwin64\weather_data\271952021.csv
C:\cygwin64\weather_data\273782016.csv
C:\cygwin64\weather_data\273782017.csv
C:\cygwin64\weather_data\273782018.csv
C:\cygwin64\weather_data\273782019.csv
C:\cygwin64\weather_data\273782020.csv
C:\cygwin64\weather_data\273782021.csv
C:\cygwin64\weather_data\273882016.csv
C:\cygwin64\weather_data\273882017.csv
C:\cygwin64\weather_data\273882018.csv
C:\cygwin64\weather_data\273882019.csv
C:\cygwin64\weather_data\273882020.csv
C:\cygwin64\weather_data\273882021.csv
C:\cygwin64\weather_data\275332016.csv
C:\cygwin64\weather_data\275332017.csv
C:\cygwin64\weather_data\275332018.csv
C:\cygwin64\weather_data\275332019.csv
C:\cygwin64\weather_data\275332020.csv
C:\cygwin64\weather_data\275332021.csv
C:\cygwin64\weather_data\2772016.csv
C:\cygwin64\weather_data\2772017.csv
C:\cygwin64\weather_data\2772018.csv
C:\cygwin64\weather_data\2772019.csv
C:\cygwin64\weather_data\2772020.csv
C:\cygwin64\weather_data\2772021.csv
C:\cygwin64\weather_data\2832016.csv
C:\cygwin64\weather_data\2832017.csv
C:\cygwin64\weather_data\2832018.csv
C:\cygwin64\weather_data\2832019.csv
C:\cygwin64\weather_data\2832020.csv
C:\cygwin64\weather_data\2832021.csv
C:\cygwin64\weather_data\297332016.csv
C:\cygwin64\weather_data\297332017.csv
C:\cygwin64\weather_data\297332018.csv
C:\cygwin64\weather_data\297332019.csv
C:\cygwin64\weather_data\297332020.csv
C:\cygwin64\weather_data\297332021.csv
C:\cygwin64\weather_data\305432016.csv
C:\cygwin64\weather_data\305432017.csv
C:\cygwin64\weather_data\305432018.csv
C:\cygwin64\weather_data\305432019.csv
C:\cygwin64\weather_data\305432020.csv
C:\cygwin64\weather_data\305432021.csv
C:\cygwin64\weather_data\306692016.csv
C:\cygwin64\weather_data\306692017.csv
C:\cygwin64\weather_data\306692018.csv
C:\cygwin64\weather_data\306692019.csv
C:\cygwin64\weather_data\306692020.csv
C:\cygwin64\weather_data\306692021.csv
C:\cygwin64\weather_data\310672016.csv
C:\cygwin64\weather_data\310672017.csv
C:\cygwin64\weather_data\310672018.csv
C:\cygwin64\weather_data\310672019.csv
C:\cygwin64\weather_data\310672020.csv
C:\cygwin64\weather_data\310672021.csv
C:\cygwin64\weather_data\3232016.csv
C:\cygwin64\weather_data\3232017.csv
C:\cygwin64\weather_data\3232018.csv
C:\cygwin64\weather_data\3232019.csv
C:\cygwin64\weather_data\3232020.csv
C:\cygwin64\weather_data\3232021.csv
C:\cygwin64\weather_data\3362016.csv
C:\cygwin64\weather_data\3362017.csv
C:\cygwin64\weather_data\3362018.csv
C:\cygwin64\weather_data\3362019.csv
C:\cygwin64\weather_data\3362020.csv
C:\cygwin64\weather_data\3362021.csv
C:\cygwin64\weather_data\3482016.csv
C:\cygwin64\weather_data\3482017.csv
C:\cygwin64\weather_data\3482018.csv
C:\cygwin64\weather_data\3482019.csv
C:\cygwin64\weather_data\3482020.csv
C:\cygwin64\weather_data\3482021.csv
C:\cygwin64\weather_data\4022016.csv
C:\cygwin64\weather_data\4022017.csv
C:\cygwin64\weather_data\4022018.csv
C:\cygwin64\weather_data\4022019.csv
C:\cygwin64\weather_data\4022020.csv
C:\cygwin64\weather_data\4022021.csv
C:\cygwin64\weather_data\435002016.csv
C:\cygwin64\weather_data\435002017.csv
C:\cygwin64\weather_data\435002018.csv
C:\cygwin64\weather_data\435002019.csv
C:\cygwin64\weather_data\435002020.csv
C:\cygwin64\weather_data\435002021.csv
C:\cygwin64\weather_data\4422016.csv
C:\cygwin64\weather_data\4422017.csv
C:\cygwin64\weather_data\4422018.csv
C:\cygwin64\weather_data\4422019.csv
C:\cygwin64\weather_data\4422020.csv
C:\cygwin64\weather_data\4422021.csv
C:\cygwin64\weather_data\4502016.csv
C:\cygwin64\weather_data\4502017.csv
C:\cygwin64\weather_data\4502018.csv
C:\cygwin64\weather_data\4502019.csv
C:\cygwin64\weather_data\4502020.csv
C:\cygwin64\weather_data\4502021.csv
C:\cygwin64\weather_data\452672016.csv
C:\cygwin64\weather_data\452672017.csv
C:\cygwin64\weather_data\452672018.csv
C:\cygwin64\weather_data\452672019.csv
C:\cygwin64\weather_data\452672020.csv
C:\cygwin64\weather_data\452672021.csv
C:\cygwin64\weather_data\468672016.csv
C:\cygwin64\weather_data\468672017.csv
C:\cygwin64\weather_data\468672018.csv
C:\cygwin64\weather_data\468672019.csv
C:\cygwin64\weather_data\468672020.csv
C:\cygwin64\weather_data\468672021.csv
C:\cygwin64\weather_data\4702016.csv
C:\cygwin64\weather_data\4702017.csv
C:\cygwin64\weather_data\4702018.csv
C:\cygwin64\weather_data\4702019.csv
C:\cygwin64\weather_data\4702020.csv
C:\cygwin64\weather_data\4702021.csv
C:\cygwin64\weather_data\481682016.csv
C:\cygwin64\weather_data\481682017.csv
C:\cygwin64\weather_data\481682018.csv
C:\cygwin64\weather_data\481682019.csv
C:\cygwin64\weather_data\481682020.csv
C:\cygwin64\weather_data\481682021.csv
C:\cygwin64\weather_data\482082016.csv
C:\cygwin64\weather_data\482082017.csv
C:\cygwin64\weather_data\482082018.csv
C:\cygwin64\weather_data\482082019.csv
C:\cygwin64\weather_data\482082020.csv
C:\cygwin64\weather_data\482082021.csv
C:\cygwin64\weather_data\483692016.csv
C:\cygwin64\weather_data\483692017.csv
C:\cygwin64\weather_data\483692018.csv
C:\cygwin64\weather_data\483692019.csv
C:\cygwin64\weather_data\483692020.csv
C:\cygwin64\weather_data\483692021.csv
C:\cygwin64\weather_data\486282016.csv
C:\cygwin64\weather_data\486282017.csv
C:\cygwin64\weather_data\486282018.csv
C:\cygwin64\weather_data\486282019.csv
C:\cygwin64\weather_data\486282020.csv
C:\cygwin64\weather_data\486282021.csv
C:\cygwin64\weather_data\486882016.csv
C:\cygwin64\weather_data\486882017.csv
C:\cygwin64\weather_data\486882018.csv
C:\cygwin64\weather_data\486882019.csv
C:\cygwin64\weather_data\486882020.csv
C:\cygwin64\weather_data\486882021.csv
C:\cygwin64\weather_data\488702016.csv
C:\cygwin64\weather_data\488702017.csv
C:\cygwin64\weather_data\488702018.csv
C:\cygwin64\weather_data\488702019.csv
C:\cygwin64\weather_data\488702020.csv
C:\cygwin64\weather_data\488702021.csv
C:\cygwin64\weather_data\494922016.csv
C:\cygwin64\weather_data\494922017.csv
C:\cygwin64\weather_data\494922018.csv
C:\cygwin64\weather_data\494922019.csv
C:\cygwin64\weather_data\494922020.csv
C:\cygwin64\weather_data\494922021.csv
C:\cygwin64\weather_data\495482016.csv
C:\cygwin64\weather_data\495482017.csv
C:\cygwin64\weather_data\495482018.csv
C:\cygwin64\weather_data\495482019.csv
C:\cygwin64\weather_data\495482020.csv
C:\cygwin64\weather_data\495482021.csv
C:\cygwin64\weather_data\496282016.csv
C:\cygwin64\weather_data\496282017.csv
C:\cygwin64\weather_data\496282018.csv
C:\cygwin64\weather_data\496282019.csv
C:\cygwin64\weather_data\496282020.csv
C:\cygwin64\weather_data\496282021.csv
C:\cygwin64\weather_data\500282016.csv
C:\cygwin64\weather_data\500282017.csv
C:\cygwin64\weather_data\500282018.csv
C:\cygwin64\weather_data\500282019.csv
C:\cygwin64\weather_data\500282020.csv
C:\cygwin64\weather_data\500282021.csv
C:\cygwin64\weather_data\500892016.csv
C:\cygwin64\weather_data\500892017.csv
C:\cygwin64\weather_data\500892018.csv
C:\cygwin64\weather_data\500892019.csv
C:\cygwin64\weather_data\500892020.csv
C:\cygwin64\weather_data\500892021.csv
C:\cygwin64\weather_data\502692016.csv
C:\cygwin64\weather_data\502692017.csv
C:\cygwin64\weather_data\502692018.csv
C:\cygwin64\weather_data\502692019.csv
C:\cygwin64\weather_data\502692020.csv
C:\cygwin64\weather_data\502692021.csv
C:\cygwin64\weather_data\508182016.csv
C:\cygwin64\weather_data\508182017.csv
C:\cygwin64\weather_data\508182018.csv
C:\cygwin64\weather_data\508182019.csv
C:\cygwin64\weather_data\508182020.csv
C:\cygwin64\weather_data\508182021.csv
C:\cygwin64\weather_data\508422016.csv
C:\cygwin64\weather_data\508422017.csv
C:\cygwin64\weather_data\508422018.csv
C:\cygwin64\weather_data\508422019.csv
C:\cygwin64\weather_data\508422020.csv
C:\cygwin64\weather_data\508422021.csv
C:\cygwin64\weather_data\510372016.csv
C:\cygwin64\weather_data\510372017.csv
C:\cygwin64\weather_data\510372018.csv
C:\cygwin64\weather_data\510372019.csv
C:\cygwin64\weather_data\510372020.csv
C:\cygwin64\weather_data\510372021.csv
C:\cygwin64\weather_data\512972016.csv
C:\cygwin64\weather_data\512972017.csv
C:\cygwin64\weather_data\512972018.csv
C:\cygwin64\weather_data\512972019.csv
C:\cygwin64\weather_data\512972020.csv
C:\cygwin64\weather_data\512972021.csv
C:\cygwin64\weather_data\515172016.csv
C:\cygwin64\weather_data\515172017.csv
C:\cygwin64\weather_data\515172018.csv
C:\cygwin64\weather_data\515172019.csv
C:\cygwin64\weather_data\515172020.csv
C:\cygwin64\weather_data\515172021.csv
C:\cygwin64\weather_data\516582016.csv
C:\cygwin64\weather_data\516582017.csv
C:\cygwin64\weather_data\516582018.csv
C:\cygwin64\weather_data\516582019.csv
C:\cygwin64\weather_data\516582020.csv
C:\cygwin64\weather_data\516582021.csv
C:\cygwin64\weather_data\518182016.csv
C:\cygwin64\weather_data\518182017.csv
C:\cygwin64\weather_data\518182018.csv
C:\cygwin64\weather_data\518182019.csv
C:\cygwin64\weather_data\518182020.csv
C:\cygwin64\weather_data\518182021.csv
C:\cygwin64\weather_data\523982016.csv
C:\cygwin64\weather_data\523982017.csv
C:\cygwin64\weather_data\523982018.csv
C:\cygwin64\weather_data\523982019.csv
C:\cygwin64\weather_data\523982020.csv
C:\cygwin64\weather_data\523982021.csv
C:\cygwin64\weather_data\525412016.csv
C:\cygwin64\weather_data\525412017.csv
C:\cygwin64\weather_data\525412018.csv
C:\cygwin64\weather_data\525412019.csv
C:\cygwin64\weather_data\525412020.csv
C:\cygwin64\weather_data\525412021.csv
C:\cygwin64\weather_data\53102016.csv
C:\cygwin64\weather_data\53102017.csv
C:\cygwin64\weather_data\53102018.csv
C:\cygwin64\weather_data\53102019.csv
C:\cygwin64\weather_data\53102020.csv
C:\cygwin64\weather_data\53102021.csv
C:\cygwin64\weather_data\5362016.csv
C:\cygwin64\weather_data\5362017.csv
C:\cygwin64\weather_data\5362018.csv
C:\cygwin64\weather_data\5362019.csv
C:\cygwin64\weather_data\5362020.csv
C:\cygwin64\weather_data\5362021.csv
C:\cygwin64\weather_data\5682016.csv
C:\cygwin64\weather_data\5682017.csv
C:\cygwin64\weather_data\5682018.csv
C:\cygwin64\weather_data\5682019.csv
C:\cygwin64\weather_data\5682020.csv
C:\cygwin64\weather_data\5682021.csv
C:\cygwin64\weather_data\6362016.csv
C:\cygwin64\weather_data\6362017.csv
C:\cygwin64\weather_data\6362018.csv
C:\cygwin64\weather_data\6362019.csv
C:\cygwin64\weather_data\6362020.csv
C:\cygwin64\weather_data\6362021.csv
C:\cygwin64\weather_data\6502016.csv
C:\cygwin64\weather_data\6502017.csv
C:\cygwin64\weather_data\6502018.csv
C:\cygwin64\weather_data\6502019.csv
C:\cygwin64\weather_data\6502020.csv
C:\cygwin64\weather_data\6502021.csv
C:\cygwin64\weather_data\66102016.csv
C:\cygwin64\weather_data\66102017.csv
C:\cygwin64\weather_data\66102018.csv
C:\cygwin64\weather_data\66102019.csv
C:\cygwin64\weather_data\66102020.csv
C:\cygwin64\weather_data\66102021.csv
C:\cygwin64\weather_data\68172016.csv
C:\cygwin64\weather_data\68172017.csv
C:\cygwin64\weather_data\68172018.csv
C:\cygwin64\weather_data\68172019.csv
C:\cygwin64\weather_data\68172020.csv
C:\cygwin64\weather_data\68172021.csv
C:\cygwin64\weather_data\68332016.csv
C:\cygwin64\weather_data\68332017.csv
C:\cygwin64\weather_data\68332018.csv
C:\cygwin64\weather_data\68332019.csv
C:\cygwin64\weather_data\68332020.csv
C:\cygwin64\weather_data\68332021.csv
C:\cygwin64\weather_data\68382016.csv
C:\cygwin64\weather_data\68382017.csv
C:\cygwin64\weather_data\68382018.csv
C:\cygwin64\weather_data\68382019.csv
C:\cygwin64\weather_data\68382020.csv
C:\cygwin64\weather_data\68382021.csv
C:\cygwin64\weather_data\68392016.csv
C:\cygwin64\weather_data\68392017.csv
C:\cygwin64\weather_data\68392018.csv
C:\cygwin64\weather_data\68392019.csv
C:\cygwin64\weather_data\68392020.csv
C:\cygwin64\weather_data\68392021.csv
C:\cygwin64\weather_data\68402016.csv
C:\cygwin64\weather_data\68402017.csv
C:\cygwin64\weather_data\68402018.csv
C:\cygwin64\weather_data\68402019.csv
C:\cygwin64\weather_data\68402020.csv
C:\cygwin64\weather_data\68402021.csv
C:\cygwin64\weather_data\68432016.csv
C:\cygwin64\weather_data\68432017.csv
C:\cygwin64\weather_data\68432018.csv
C:\cygwin64\weather_data\68432019.csv
C:\cygwin64\weather_data\68432020.csv
C:\cygwin64\weather_data\68432021.csv
C:\cygwin64\weather_data\68442016.csv
C:\cygwin64\weather_data\68442017.csv
C:\cygwin64\weather_data\68442018.csv
C:\cygwin64\weather_data\68442019.csv
C:\cygwin64\weather_data\68442020.csv
C:\cygwin64\weather_data\68442021.csv
C:\cygwin64\weather_data\69382016.csv
C:\cygwin64\weather_data\69382017.csv
C:\cygwin64\weather_data\69382018.csv
C:\cygwin64\weather_data\69382019.csv
C:\cygwin64\weather_data\69382020.csv
C:\cygwin64\weather_data\69382021.csv
C:\cygwin64\weather_data\6982016.csv
C:\cygwin64\weather_data\6982017.csv
C:\cygwin64\weather_data\6982018.csv
C:\cygwin64\weather_data\6982019.csv
C:\cygwin64\weather_data\6982020.csv
C:\cygwin64\weather_data\6982021.csv
C:\cygwin64\weather_data\7062016.csv
C:\cygwin64\weather_data\7062017.csv
C:\cygwin64\weather_data\7062018.csv
C:\cygwin64\weather_data\7062019.csv
C:\cygwin64\weather_data\7062020.csv
C:\cygwin64\weather_data\7062021.csv
C:\cygwin64\weather_data\7312016.csv
C:\cygwin64\weather_data\7312017.csv
C:\cygwin64\weather_data\7312018.csv
C:\cygwin64\weather_data\7312019.csv
C:\cygwin64\weather_data\7312020.csv
C:\cygwin64\weather_data\7312021.csv
C:\cygwin64\weather_data\7762016.csv
C:\cygwin64\weather_data\7762017.csv
C:\cygwin64\weather_data\7762018.csv
C:\cygwin64\weather_data\7762019.csv
C:\cygwin64\weather_data\7762020.csv
C:\cygwin64\weather_data\7762021.csv
C:\cygwin64\weather_data\8232016.csv
C:\cygwin64\weather_data\8232017.csv
C:\cygwin64\weather_data\8232018.csv
C:\cygwin64\weather_data\8232019.csv
C:\cygwin64\weather_data\8232020.csv
C:\cygwin64\weather_data\8232021.csv
C:\cygwin64\weather_data\89352016.csv
C:\cygwin64\weather_data\89352017.csv
C:\cygwin64\weather_data\89352018.csv
C:\cygwin64\weather_data\89352019.csv
C:\cygwin64\weather_data\89352020.csv
C:\cygwin64\weather_data\89352021.csv
C:\cygwin64\weather_data\89992016.csv
C:\cygwin64\weather_data\89992017.csv
C:\cygwin64\weather_data\89992018.csv
C:\cygwin64\weather_data\89992019.csv
C:\cygwin64\weather_data\89992020.csv
C:\cygwin64\weather_data\89992021.csv
C:\cygwin64\weather_data\9242016.csv
C:\cygwin64\weather_data\9242017.csv
C:\cygwin64\weather_data\9242018.csv
C:\cygwin64\weather_data\9242019.csv
C:\cygwin64\weather_data\9242020.csv
C:\cygwin64\weather_data\9242021.csv
C:\cygwin64\weather_data\9512016.csv
C:\cygwin64\weather_data\9512017.csv
C:\cygwin64\weather_data\9512018.csv
C:\cygwin64\weather_data\9512019.csv
C:\cygwin64\weather_data\9512020.csv
C:\cygwin64\weather_data\9512021.csv
C:\cygwin64\weather_data\9792016.csv
C:\cygwin64\weather_data\9792017.csv
C:\cygwin64\weather_data\9792018.csv
C:\cygwin64\weather_data\9792019.csv
C:\cygwin64\weather_data\9792020.csv
C:\cygwin64\weather_data\9792021.csv

In [142]:
weather_df.shape

(227968, 31)

In [143]:
weather_df.head(30)

,Longitude (x),Latitude (y),Station Name,Climate ID,Date/Time,Year,Month,Day,Data Quality,Max Temp (°C),...,Total Snow (cm),Total Snow Flag,Total Precip (mm),Total Precip Flag,Snow on Grnd (cm),Snow on Grnd Flag,Dir of Max Gust (10s deg),Dir of Max Gust Flag,Spd of Max Gust (km/h),Spd of Max Gust Flag
0,-115.19,50.94,NAKISKA RIDGETOP,305MGFF,2016-01-01,2016,1,1,NaN,7.9,...,NaN,M,NaN,M,NaN,NaN,NaN,NaN,<31,NaN
1,-115.19,50.94,NAKISKA RIDGETOP,305MGFF,2016-01-02,2016,1,2,NaN,7.5,...,NaN,M,NaN,M,NaN,NaN,NaN,NaN,<31,NaN
2,-115.19,50.94,NAKISKA RIDGETOP,305MGFF,2016-01-03,2016,1,3,NaN,0.9,...,NaN,M,NaN,M,NaN,NaN,NaN,NaN,<31,NaN
3,-115.19,50.94,NAKISKA RIDGETOP,305MGFF,2016-01-04,2016,1,4,NaN,-3.1,...,NaN,M,NaN,M,NaN,NaN,NaN,NaN,<31,NaN
4,-115.19,50.94,NAKISKA RIDGETOP,305MGFF,2016-01-05,2016,1,5,NaN,-2.8,...,NaN,M,NaN,M,NaN,NaN,NaN,NaN,<31,NaN
5,-115.19,50.94,NAKISKA RIDGETOP,305MGFF,2016-01-06,2016,1,6,NaN,-2.0,...,NaN,M,NaN,M,NaN,NaN,NaN,NaN,<31,NaN
6,-115.19,50.94,NAKISKA RIDGETOP,305MGFF,2016-01-07,2016,1,7,NaN,-7.8,...,NaN,M,NaN,M,NaN,NaN,NaN,NaN,<31,NaN
7,-115.19,50.94,NAKISKA RIDGETOP,305MGFF,2016-01-08,2016,1,8,NaN,-2.8,...,NaN,M,NaN,M,NaN,NaN,NaN,NaN,<31,NaN
8,-115.19,50.94,NAKISKA RIDGETOP,305MGFF,2016-01-09,2016,1,9,NaN,-3.3,...,NaN,M,NaN,M,NaN,NaN,NaN,NaN,<31,NaN
9,-115.19,50.94,NAKISKA RIDGETOP,305MGFF,2016-01-10,2016,1,10,NaN,-2.2,...,NaN,M,NaN,M,NaN,NaN,NaN,NaN,<31,NaN
10,-115.19,50.94,NAKISKA RIDGETOP,305MGFF,2016-01-11,2016,1,11,NaN,-3.9,...,NaN,M,NaN,M,NaN,NaN,NaN,NaN,<31,NaN
11,-115.19,50.94,NAKISKA RIDGETOP,305MGFF,2016-01-12,2016,1,12,NaN,-5.3,...,NaN,M,NaN,M,NaN,NaN,NaN,NaN,<31,NaN
12,-115.19,50.94,NAKISKA RIDGETOP,305MGFF,2016-01-13,2016,1,13,NaN,-3.1,...,NaN,M,NaN,M,NaN,NaN,NaN,NaN,<31,NaN
13,-115.19,50.94,NAKISKA RIDGETOP,305MGFF,2016-01-14,2016,1,14,NaN,-5.7,...,NaN,M,NaN,M,NaN,NaN,NaN,NaN,<31,NaN
14,-115.19,50.94,NAKISKA RIDGETOP,305MGFF,2016-01-15,2016,1,15,NaN,-9.8,...,NaN,M,NaN,M,NaN,NaN,NaN,NaN,<31,NaN
15,-115.19,50.94,NAKISKA RIDGETOP,305MGFF,2016-01-16,2016,1,16,NaN,-8.7,...,NaN,M,NaN,M,NaN,NaN,NaN,NaN,<31,NaN
16,-115.19,50.94,NAKISKA RIDGETOP,305MGFF,2016-01-17,2016,1,17,NaN,-5.3,...,NaN,M,NaN,M,NaN,NaN,NaN,NaN,<31,NaN
17,-115.19,50.94,NAKISKA RIDGETOP,305MGFF,2016-01-18,2016,1,18,NaN,-6.4,...,NaN,M,NaN,M,NaN,NaN,NaN,NaN,<31,NaN
18,-115.19,50.94,NAKISKA RIDGETOP,305MGFF,2016-01-19,2016,1,19,NaN,-5.4,...,NaN,M,NaN,M,NaN,NaN,NaN,NaN,<31,NaN
19,-115.19,50.94,NAKISKA RIDGETOP,305MGFF,2016-01-20,2016,1,20,NaN,-6.3,...,NaN,M,NaN,M,NaN,NaN,NaN,NaN,<31,NaN
20,-115.19,50.94,NAKISKA RIDGETOP,305MGFF,2016-01-21,2016,1,21,NaN,-0.5,...,NaN,M,NaN,M,NaN,NaN,NaN,NaN,<31,NaN
21,-115.19,50.94,NAKISKA RIDGETOP,305MGFF,2016-01-22,2016,1,22,NaN,0.5,...,NaN,M,NaN,M,NaN,NaN,NaN,NaN,<31,NaN
22,-115.19,50.94,NAKISKA RIDGETOP,305MGFF,2016-01-23,2016,1,23,NaN,-2.0,...,NaN,M,NaN,M,NaN,NaN,NaN,NaN,<31,NaN
23,-115.19,50.94,NAKISKA RIDGETOP,305MGFF,2016-01-24,2016,1,24,NaN,-5.3,...,NaN,M,NaN,M,NaN,NaN,NaN,NaN,<31,NaN
24,-115.19,50.94,NAKISKA RIDGETOP,305MGFF,2016-01-25,2016,1,25,NaN,-3.5,...,NaN,M,NaN,M,NaN,NaN,NaN,NaN,<31,NaN
25,-115.19,50.94,NAKISKA RIDGETOP,305MGFF,2016-01-26,2016,1,26,NaN,1.5,...,NaN,M,NaN,M,NaN,NaN,NaN,NaN,<31,NaN
26,-115.19,50.94,NAKISKA RIDGETOP,305MGFF,2016-01-27,2016,1,27,NaN,0.2,...,NaN,M,NaN,M,NaN,NaN,NaN,NaN,<31,NaN
27,-115.19,50.94,NAKISKA RIDGETOP,305MGFF,2016-01-28,2016,1,28,NaN,NaN,...,NaN,M,NaN,M,NaN,NaN,NaN,NaN,<31,NaN
28,-115.19,50.94,NAKISKA RIDGETOP,305MGFF,2016-01-29,2016,1,29,NaN,-6.9,...,NaN,M,NaN,M,NaN,NaN,NaN,NaN,<31,NaN
29,-115.19,50.94,NAKISKA RIDGETOP,305MGFF,2016-01-30,2016,1,30,NaN,NaN,...,NaN,M,NaN,M,NaN,NaN,NaN,NaN,<31,NaN

In [144]:
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 227968 entries, 0 to 364
Data columns (total 31 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Longitude (x)              227968 non-null  float64
 1   Latitude (y)               227968 non-null  float64
 2   Station Name               227968 non-null  object
 3   Climate ID                 227968 non-null  object
 4   Date/Time                  227968 non-null  object
 5   Year                       227968 non-null  int64
 6   Month                      227968 non-null  int64
 7   Day                        227968 non-null  int64
 8   Data Quality               81586 non-null   object
 9   Max Temp (°C)              179476 non-null  float64
 10  Max Temp Flag              5193 non-null    object
 11  Min Temp (°C)              179845 non-null  float64
 12  Min Temp Flag              5277 non-null    object
 13  Mean Temp (°C)             177113 non-null  float64
 14  Mean Temp Flag             6272 non-null    object
 15  Heat Deg Days (°C)         177113 non-null  float64
 16  Heat Deg Days Flag         6272 non-null    object
 17  Cool Deg Days (°C)         177113 non-null  float64
 18  Cool Deg Days Flag         6272 non-null    object
 19  Total Rain (mm)            91284 non-null   float64
 20  Total Rain Flag            49906 non-null   object
 21  Total Snow (cm)            91389 non-null   float64
 22  Total Snow Flag            50477 non-null   object
 23  Total Precip (mm)          169919 non-null  float64
 24  Total Precip Flag          22416 non-null   object
 25  Snow on Grnd (cm)          107682 non-null  float64
 26  Snow on Grnd Flag          4834 non-null    object
 27  Dir of Max Gust (10s deg)  44400 non-null   float64
 28  Dir of Max Gust Flag       14637 non-null   object
 29  Spd of Max Gust (km/h)     69756 non-null   object
 30  Spd of Max Gust Flag       14088 non-null   object
dtypes: float64(12), int64(3), object(16)
memory usage: 55.7+ MB

In [145]:
cols_to_drop = ['Snow on Grnd Flag','Dir of Max Gust Flag','Snow on Grnd Flag','Heat Deg Days Flag',
               'Cool Deg Days Flag','Snow on Grnd Flag','Data Quality','Total Precip Flag','Snow on Grnd Flag','Spd of Max Gust Flag','Dir of Max Gust Flag','Cool Deg Days (°C)','Heat Deg Days (°C)','Heat Deg Days Flag','Cool Deg Days Flag','Max Temp Flag','Total Rain Flag','Min Temp Flag','Mean Temp Flag']

weather_df.drop(cols_to_drop, inplace = True, axis = 1)

In [146]:
weather_df

,Longitude (x),Latitude (y),Station Name,Climate ID,Date/Time,Year,Month,Day,Max Temp (°C),Min Temp (°C),Mean Temp (°C),Total Rain (mm),Total Snow (cm),Total Snow Flag,Total Precip (mm),Snow on Grnd (cm),Dir of Max Gust (10s deg),Spd of Max Gust (km/h)
0,-115.19,50.94,NAKISKA RIDGETOP,305MGFF,2016-01-01,2016,1,1,7.9,-0.8,3.6,NaN,NaN,M,NaN,NaN,NaN,<31
1,-115.19,50.94,NAKISKA RIDGETOP,305MGFF,2016-01-02,2016,1,2,7.5,-0.2,3.7,NaN,NaN,M,NaN,NaN,NaN,<31
2,-115.19,50.94,NAKISKA RIDGETOP,305MGFF,2016-01-03,2016,1,3,0.9,-9.4,-4.3,NaN,NaN,M,NaN,NaN,NaN,<31
3,-115.19,50.94,NAKISKA RIDGETOP,305MGFF,2016-01-04,2016,1,4,-3.1,-8.6,-5.9,NaN,NaN,M,NaN,NaN,NaN,<31
4,-115.19,50.94,NAKISKA RIDGETOP,305MGFF,2016-01-05,2016,1,5,-2.8,-6.3,-4.6,NaN,NaN,M,NaN,NaN,NaN,<31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,-119.65,49.56,SUMMERLAND CS,112G8L1,2021-12-27,2021,12,27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
361,-119.65,49.56,SUMMERLAND CS,112G8L1,2021-12-28,2021,12,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
362,-119.65,49.56,SUMMERLAND CS,112G8L1,2021-12-29,2021,12,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
363,-119.65,49.56,SUMMERLAND CS,112G8L1,2021-12-30,2021,12,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
364,-119.65,49.56,SUMMERLAND CS,112G8L1,2021-12-31,2021,12,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [147]:
weather_df.sort_values(by=['Climate ID','Year','Month','Day'], inplace = True)

In [148]:
weather_df.groupby('Climate ID')

In [149]:
# weather_df['snow_24_hour'] = weather_df['Total Snow (cm)'].shift(1)
# weather_df['snow_48_hour'] = weather_df['Total Snow (cm)'].shift(2)

In [150]:
weather_df.head(10)

,Longitude (x),Latitude (y),Station Name,Climate ID,Date/Time,Year,Month,Day,Max Temp (°C),Min Temp (°C),Mean Temp (°C),Total Rain (mm),Total Snow (cm),Total Snow Flag,Total Precip (mm),Snow on Grnd (cm),Dir of Max Gust (10s deg),Spd of Max Gust (km/h)
0,-125.27,49.95,CAMPBELL RIVER A,1021261,2016-01-01,2016,1,1,1.1,-6.0,-2.5,0.0,0.0,NaN,0.0,0.0,NaN,NaN
1,-125.27,49.95,CAMPBELL RIVER A,1021261,2016-01-02,2016,1,2,0.9,-7.5,-3.3,0.0,0.0,NaN,0.0,0.0,NaN,NaN
2,-125.27,49.95,CAMPBELL RIVER A,1021261,2016-01-03,2016,1,3,0.5,-5.2,-2.4,0.0,0.0,NaN,0.0,0.0,NaN,NaN
3,-125.27,49.95,CAMPBELL RIVER A,1021261,2016-01-04,2016,1,4,2.2,-9.4,-3.6,0.0,0.0,NaN,0.0,0.0,NaN,NaN
4,-125.27,49.95,CAMPBELL RIVER A,1021261,2016-01-05,2016,1,5,0.2,-10.1,-5.0,0.6,3.2,NaN,3.8,0.0,NaN,NaN
5,-125.27,49.95,CAMPBELL RIVER A,1021261,2016-01-06,2016,1,6,2.4,-1.5,0.5,1.8,0.0,NaN,1.8,3.0,NaN,NaN
6,-125.27,49.95,CAMPBELL RIVER A,1021261,2016-01-07,2016,1,7,4.0,-6.3,-1.2,0.0,0.0,NaN,0.0,2.0,NaN,NaN
7,-125.27,49.95,CAMPBELL RIVER A,1021261,2016-01-08,2016,1,8,1.1,-3.7,-1.3,0.8,0.0,NaN,0.8,0.0,NaN,NaN
8,-125.27,49.95,CAMPBELL RIVER A,1021261,2016-01-09,2016,1,9,4.6,-2.7,1.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN
9,-125.27,49.95,CAMPBELL RIVER A,1021261,2016-01-10,2016,1,10,3.9,-3.2,0.4,0.0,0.0,NaN,0.0,0.0,NaN,NaN

In [151]:
ava_df.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 2450 entries, 0 to 2449
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      2450 non-null   int64
 1   latitude        2450 non-null   object
 2   longitude       2450 non-null   object
 3   weekday         2450 non-null   object
 4   month           2450 non-null   int64
 5   day             2450 non-null   object
 6   year            2450 non-null   object
 7   time            2437 non-null   object
 8   Name            2450 non-null   object
 9   Province        2450 non-null   object
 10  Climate ID      2450 non-null   object
 11  Station ID      2450 non-null   object
 12  DLY First Year  2450 non-null   float64
 13  DLY Last Year   2450 non-null   float64
 14  dist            2450 non-null   float64
dtypes: float64(3), int64(2), object(10)
memory usage: 287.2+ KB

In [152]:
ava_df['year'] = ava_df['year'].astype('int')

ava_df['month'] = ava_df['month'].astype('int')
ava_df['day'] = ava_df['day'].astype('int')

In [153]:
ava_df['avalanche_occured'] = 1

In [154]:
ava_df.head()

,Unnamed: 0,latitude,longitude,weekday,month,day,year,time,Name,Province,Climate ID,Station ID,DLY First Year,DLY Last Year,dist,avalanche_occured
0,0,59.713938,135.095702,Thursday,5,27,2021,14:00,WHITEHORSE A,YUKON TERRITORY,2101303,50842,2012.0,2021.0,0.996394,1
1,1,51.171303,116.051255,Saturday,5,22,2021,09:00,YOHO PARK,BRITISH COLUMBIA,11790J1,6844,1992.0,2021.0,0.394426,1
2,2,50.427560,122.473110,Sunday,5,16,2021,11:00,PEMBERTON AIRPORT CS,BRITISH COLUMBIA,1086082,536,1984.0,2021.0,0.282512,1
3,3,51.394930,116.265450,Saturday,5,15,2021,12:00,YOHO PARK,BRITISH COLUMBIA,11790J1,6844,1992.0,2021.0,0.087115,1
4,4,51.395059,116.257463,Friday,5,14,2021,12:30,YOHO PARK,BRITISH COLUMBIA,11790J1,6844,1992.0,2021.0,0.093979,1

In [155]:
new_df = pd.merge(ava_df, weather_df,  how='right', left_on=['Name', 'year', 'month', 'day'], right_on = ['Station Name', 'Year', 'Month', 'Day'])

In [156]:
new_df.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 228422 entries, 0 to 228421
Data columns (total 34 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Unnamed: 0                 2435 non-null    float64
 1   latitude                   2435 non-null    object
 2   longitude                  2435 non-null    object
 3   weekday                    2435 non-null    object
 4   month                      2435 non-null    float64
 5   day                        2435 non-null    float64
 6   year                       2435 non-null    float64
 7   time                       2435 non-null    object
 8   Name                       2435 non-null    object
 9   Province                   2435 non-null    object
 10  Climate ID_x               2435 non-null    object
 11  Station ID                 2435 non-null    object
 12  DLY First Year             2435 non-null    float64
 13  DLY Last Year              2435 non-null    float64
 14  dist                       2435 non-null    float64
 15  avalanche_occured          2435 non-null    float64
 16  Longitude (x)              228422 non-null  float64
 17  Latitude (y)               228422 non-null  float64
 18  Station Name               228422 non-null  object
 19  Climate ID_y               228422 non-null  object
 20  Date/Time                  228422 non-null  object
 21  Year                       228422 non-null  int64
 22  Month                      228422 non-null  int64
 23  Day                        228422 non-null  int64
 24  Max Temp (°C)              179892 non-null  float64
 25  Min Temp (°C)              180263 non-null  float64
 26  Mean Temp (°C)             177529 non-null  float64
 27  Total Rain (mm)            91473 non-null   float64
 28  Total Snow (cm)            91578 non-null   float64
 29  Total Snow Flag            50530 non-null   object
 30  Total Precip (mm)          170272 non-null  float64
 31  Snow on Grnd (cm)          108046 non-null  float64
 32  Dir of Max Gust (10s deg)  44520 non-null   float64
 33  Spd of Max Gust (km/h)     69890 non-null   object
dtypes: float64(18), int64(3), object(13)
memory usage: 61.0+ MB

In [157]:
new_df['avalanche_occured'].fillna(value= 0, inplace = True)

In [158]:
new_df['avalanche_occured']

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
228417    0.0
228418    0.0
228419    0.0
228420    0.0
228421    0.0
Name: avalanche_occured, Length: 228422, dtype: float64

In [159]:
new_df.sample(20)

,Unnamed: 0,latitude,longitude,weekday,month,day,year,time,Name,Province,...,Max Temp (°C),Min Temp (°C),Mean Temp (°C),Total Rain (mm),Total Snow (cm),Total Snow Flag,Total Precip (mm),Snow on Grnd (cm),Dir of Max Gust (10s deg),Spd of Max Gust (km/h)
9311,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,30.0,9.5,19.8,0.0,0.0,NaN,0.0,0.0,NaN,NaN
79995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,23.0,12.5,17.8,0.0,0.0,NaN,0.0,0.0,NaN,NaN
28615,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18.0,10.0,14.0,4.8,0.0,NaN,4.8,0.0,NaN,NaN
361,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,-2.5,0.8,2.4,0.0,NaN,2.4,2.0,NaN,NaN
154193,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.6,-7.2,-0.3,NaN,NaN,M,0.0,3.0,21.0,37
156264,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.1,-8.2,-1.1,NaN,NaN,M,0.0,0.0,24.0,54
64155,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56640,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,-1.7,-0.3,NaN,NaN,NaN,37.6,37.0,NaN,NaN
161974,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,22.7,8.0,15.3,NaN,NaN,NaN,0.0,NaN,32.0,36.0
8374,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,-2.5,0.8,0.6,0.0,NaN,0.6,0.0,NaN,NaN
192364,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17.4,13.7,15.5,NaN,NaN,NaN,2.0,NaN,17.0,48.0
215912,2129.0,51.160460,116.101150,Saturday,1.0,27.0,2018.0,11:05,YOHO PARK,BRITISH COLUMBIA,...,-7.1,-13.1,-10.1,NaN,NaN,M,0.0,104.0,NaN,<31
122201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,-1.5,-0.3,0.0,6.0,NaN,9.4,40.0,NaN,NaN
190661,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-5.7,-8.2,-7.0,NaN,NaN,NaN,0.0,NaN,22.0,42.0
46714,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17.8,-1.1,8.4,NaN,NaN,M,0.0,NaN,34.0,39
153781,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.7,-5.4,-0.4,NaN,NaN,M,0.0,23.0,NaN,<31
204866,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.3,1.5,3.4,NaN,NaN,M,1.0,0.0,NaN,<31
188425,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14.5,8.9,11.7,NaN,NaN,M,17.8,NaN,20.0,74.0
179474,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14.7,5.7,10.2,NaN,NaN,NaN,0.0,NaN,NaN,NaN

In [160]:
ava_df.head()

,Unnamed: 0,latitude,longitude,weekday,month,day,year,time,Name,Province,Climate ID,Station ID,DLY First Year,DLY Last Year,dist,avalanche_occured
0,0,59.713938,135.095702,Thursday,5,27,2021,14:00,WHITEHORSE A,YUKON TERRITORY,2101303,50842,2012.0,2021.0,0.996394,1
1,1,51.171303,116.051255,Saturday,5,22,2021,09:00,YOHO PARK,BRITISH COLUMBIA,11790J1,6844,1992.0,2021.0,0.394426,1
2,2,50.427560,122.473110,Sunday,5,16,2021,11:00,PEMBERTON AIRPORT CS,BRITISH COLUMBIA,1086082,536,1984.0,2021.0,0.282512,1
3,3,51.394930,116.265450,Saturday,5,15,2021,12:00,YOHO PARK,BRITISH COLUMBIA,11790J1,6844,1992.0,2021.0,0.087115,1
4,4,51.395059,116.257463,Friday,5,14,2021,12:30,YOHO PARK,BRITISH COLUMBIA,11790J1,6844,1992.0,2021.0,0.093979,1

In [161]:
new_df.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 228422 entries, 0 to 228421
Data columns (total 34 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Unnamed: 0                 2435 non-null    float64
 1   latitude                   2435 non-null    object
 2   longitude                  2435 non-null    object
 3   weekday                    2435 non-null    object
 4   month                      2435 non-null    float64
 5   day                        2435 non-null    float64
 6   year                       2435 non-null    float64
 7   time                       2435 non-null    object
 8   Name                       2435 non-null    object
 9   Province                   2435 non-null    object
 10  Climate ID_x               2435 non-null    object
 11  Station ID                 2435 non-null    object
 12  DLY First Year             2435 non-null    float64
 13  DLY Last Year              2435 non-null    float64
 14  dist                       2435 non-null    float64
 15  avalanche_occured          228422 non-null  float64
 16  Longitude (x)              228422 non-null  float64
 17  Latitude (y)               228422 non-null  float64
 18  Station Name               228422 non-null  object
 19  Climate ID_y               228422 non-null  object
 20  Date/Time                  228422 non-null  object
 21  Year                       228422 non-null  int64
 22  Month                      228422 non-null  int64
 23  Day                        228422 non-null  int64
 24  Max Temp (°C)              179892 non-null  float64
 25  Min Temp (°C)              180263 non-null  float64
 26  Mean Temp (°C)             177529 non-null  float64
 27  Total Rain (mm)            91473 non-null   float64
 28  Total Snow (cm)            91578 non-null   float64
 29  Total Snow Flag            50530 non-null   object
 30  Total Precip (mm)          170272 non-null  float64
 31  Snow on Grnd (cm)          108046 non-null  float64
 32  Dir of Max Gust (10s deg)  44520 non-null   float64
 33  Spd of Max Gust (km/h)     69890 non-null   object
dtypes: float64(18), int64(3), object(13)
memory usage: 61.0+ MB

In [162]:
new_df.duplicated().sum()

0

In [163]:
new_df.drop_duplicates(inplace=True)

In [164]:
new_df.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 228422 entries, 0 to 228421
Data columns (total 34 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Unnamed: 0                 2435 non-null    float64
 1   latitude                   2435 non-null    object
 2   longitude                  2435 non-null    object
 3   weekday                    2435 non-null    object
 4   month                      2435 non-null    float64
 5   day                        2435 non-null    float64
 6   year                       2435 non-null    float64
 7   time                       2435 non-null    object
 8   Name                       2435 non-null    object
 9   Province                   2435 non-null    object
 10  Climate ID_x               2435 non-null    object
 11  Station ID                 2435 non-null    object
 12  DLY First Year             2435 non-null    float64
 13  DLY Last Year              2435 non-null    float64
 14  dist                       2435 non-null    float64
 15  avalanche_occured          228422 non-null  float64
 16  Longitude (x)              228422 non-null  float64
 17  Latitude (y)               228422 non-null  float64
 18  Station Name               228422 non-null  object
 19  Climate ID_y               228422 non-null  object
 20  Date/Time                  228422 non-null  object
 21  Year                       228422 non-null  int64
 22  Month                      228422 non-null  int64
 23  Day                        228422 non-null  int64
 24  Max Temp (°C)              179892 non-null  float64
 25  Min Temp (°C)              180263 non-null  float64
 26  Mean Temp (°C)             177529 non-null  float64
 27  Total Rain (mm)            91473 non-null   float64
 28  Total Snow (cm)            91578 non-null   float64
 29  Total Snow Flag            50530 non-null   object
 30  Total Precip (mm)          170272 non-null  float64
 31  Snow on Grnd (cm)          108046 non-null  float64
 32  Dir of Max Gust (10s deg)  44520 non-null   float64
 33  Spd of Max Gust (km/h)     69890 non-null   object
dtypes: float64(18), int64(3), object(13)
memory usage: 61.0+ MB

In [165]:
mask = (new_df['Total Snow Flag'] == 'M')
new_df['Total Snow (cm)'][mask] = 1.0

In [166]:
new_df.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 228422 entries, 0 to 228421
Data columns (total 34 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Unnamed: 0                 2435 non-null    float64
 1   latitude                   2435 non-null    object
 2   longitude                  2435 non-null    object
 3   weekday                    2435 non-null    object
 4   month                      2435 non-null    float64
 5   day                        2435 non-null    float64
 6   year                       2435 non-null    float64
 7   time                       2435 non-null    object
 8   Name                       2435 non-null    object
 9   Province                   2435 non-null    object
 10  Climate ID_x               2435 non-null    object
 11  Station ID                 2435 non-null    object
 12  DLY First Year             2435 non-null    float64
 13  DLY Last Year              2435 non-null    float64
 14  dist                       2435 non-null    float64
 15  avalanche_occured          228422 non-null  float64
 16  Longitude (x)              228422 non-null  float64
 17  Latitude (y)               228422 non-null  float64
 18  Station Name               228422 non-null  object
 19  Climate ID_y               228422 non-null  object
 20  Date/Time                  228422 non-null  object
 21  Year                       228422 non-null  int64
 22  Month                      228422 non-null  int64
 23  Day                        228422 non-null  int64
 24  Max Temp (°C)              179892 non-null  float64
 25  Min Temp (°C)              180263 non-null  float64
 26  Mean Temp (°C)             177529 non-null  float64
 27  Total Rain (mm)            91473 non-null   float64
 28  Total Snow (cm)            137708 non-null  float64
 29  Total Snow Flag            50530 non-null   object
 30  Total Precip (mm)          170272 non-null  float64
 31  Snow on Grnd (cm)          108046 non-null  float64
 32  Dir of Max Gust (10s deg)  44520 non-null   float64
 33  Spd of Max Gust (km/h)     69890 non-null   object
dtypes: float64(18), int64(3), object(13)
memory usage: 61.0+ MB

In [167]:
cols_to_remove = ['Unnamed: 0','Climate ID_x','Date/Time','Total Snow Flag','Longitude (x)','Latitude (y)','DLY First Year','DLY Last Year','dist','year','month','day','Name','Province']

In [168]:
new_df.drop(cols_to_remove,axis = 1, inplace = True)

In [169]:
new_df.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 228422 entries, 0 to 228421
Data columns (total 20 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   latitude                   2435 non-null    object
 1   longitude                  2435 non-null    object
 2   weekday                    2435 non-null    object
 3   time                       2435 non-null    object
 4   Station ID                 2435 non-null    object
 5   avalanche_occured          228422 non-null  float64
 6   Station Name               228422 non-null  object
 7   Climate ID_y               228422 non-null  object
 8   Year                       228422 non-null  int64
 9   Month                      228422 non-null  int64
 10  Day                        228422 non-null  int64
 11  Max Temp (°C)              179892 non-null  float64
 12  Min Temp (°C)              180263 non-null  float64
 13  Mean Temp (°C)             177529 non-null  float64
 14  Total Rain (mm)            91473 non-null   float64
 15  Total Snow (cm)            137708 non-null  float64
 16  Total Precip (mm)          170272 non-null  float64
 17  Snow on Grnd (cm)          108046 non-null  float64
 18  Dir of Max Gust (10s deg)  44520 non-null   float64
 19  Spd of Max Gust (km/h)     69890 non-null   object
dtypes: float64(9), int64(3), object(8)
memory usage: 36.6+ MB

In [170]:
new_df.sample(20)

,latitude,longitude,weekday,time,Station ID,avalanche_occured,Station Name,Climate ID_y,Year,Month,Day,Max Temp (°C),Min Temp (°C),Mean Temp (°C),Total Rain (mm),Total Snow (cm),Total Precip (mm),Snow on Grnd (cm),Dir of Max Gust (10s deg),Spd of Max Gust (km/h)
225431,NaN,NaN,NaN,NaN,NaN,0.0,POINT PELEE CS,613P001,2019,10,27,15.3,9.4,12.4,NaN,NaN,0.2,NaN,NaN,NaN
177962,NaN,NaN,NaN,NaN,NaN,0.0,CAP-MADELEINE,7051163,2016,4,17,11.1,1.6,6.4,NaN,1.0,0.0,NaN,NaN,NaN
116320,NaN,NaN,NaN,NaN,NaN,0.0,CLEARWATER AUTO,1161650,2021,11,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126053,NaN,NaN,NaN,NaN,NaN,0.0,REVELSTOKE A,1176745,2018,4,29,12.7,6.4,9.6,NaN,1.0,19.5,NaN,NaN,<31
106054,NaN,NaN,NaN,NaN,NaN,0.0,KIMBERLEY PCC,1154203,2017,10,30,6.5,-5.5,0.5,0.0,0.0,0.0,0.0,NaN,NaN
1644,NaN,NaN,NaN,NaN,NaN,0.0,CAMPBELL RIVER A,1021261,2020,7,2,18.5,10.0,14.3,0.2,0.0,0.2,0.0,NaN,NaN
5000,NaN,NaN,NaN,NaN,NaN,0.0,FANNY ISLAND,1022795,2017,9,8,14.8,11.9,13.4,NaN,1.0,0.2,NaN,28.0,52
143003,NaN,NaN,NaN,NaN,NaN,0.0,PLEASANT CAMP,1206197,2016,8,27,24.0,11.0,17.5,0.0,0.0,0.0,0.0,NaN,NaN
139986,NaN,NaN,NaN,NaN,NaN,0.0,DEASE LAKE A,1192341,2020,5,25,12.4,0.1,6.3,NaN,NaN,4.7,NaN,23.0,50.0
223699,NaN,NaN,NaN,NaN,NaN,0.0,WILLOW CREEK 1,306GE70,2021,1,29,-2.7,-28.3,-15.5,NaN,NaN,0.2,46.0,NaN,NaN
161862,NaN,NaN,NaN,NaN,NaN,0.0,JASPER WARDEN,3053536,2020,3,24,-3.2,-12.6,-7.9,NaN,NaN,0.0,34.0,34.0,39.0
2454,NaN,NaN,NaN,NaN,NaN,0.0,COURTENAY PUNTLEDGE,1021989,2016,9,19,16.5,10.0,13.3,2.8,0.0,2.8,0.0,NaN,NaN
9207,NaN,NaN,NaN,NaN,NaN,0.0,QUINSAM RIVER HATCHERY,1026639,2017,3,12,8.5,1.0,4.8,9.8,0.0,9.8,0.0,NaN,NaN
142024,NaN,NaN,NaN,NaN,NaN,0.0,ATLIN,1200560,2019,12,23,-0.5,-9.5,-5.0,0.0,0.0,0.0,6.0,NaN,NaN
11114,NaN,NaN,NaN,NaN,NaN,0.0,ALBERNI ROBERTSON CREEK,1030230,2016,5,31,25.5,8.0,16.8,0.0,0.0,0.0,0.0,NaN,NaN
204931,NaN,NaN,NaN,NaN,NaN,0.0,NELSON CS,1145M29,2018,1,23,1.7,-1.5,0.1,NaN,1.0,3.2,4.0,NaN,<31
191677,NaN,NaN,NaN,NaN,NaN,0.0,HOWE SOUND - PAM ROCKS,10459NN,2017,10,28,15.4,10.4,12.9,NaN,1.0,0.0,NaN,1.0,50
33696,NaN,NaN,NaN,NaN,NaN,0.0,HOUSTON,1073615,2018,3,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130519,NaN,NaN,NaN,NaN,NaN,0.0,CHETWYND A,1181508,2018,6,28,21.0,10.5,15.8,0.0,0.0,0.0,0.0,NaN,NaN
180235,NaN,NaN,NaN,NaN,NaN,0.0,GASPE A,7052601,2016,7,7,14.3,2.6,8.5,2.4,0.0,2.4,NaN,8.0,39

In [171]:
new_df['temperature range'] = new_df['Max Temp (°C)'] - new_df['Min Temp (°C)']

In [172]:
new_df['Total Snow (cm)'].fillna(new_df['Total Precip (mm)'], inplace = True)

In [173]:
null_snow = new_df[(new_df['Total Snow (cm)'].isna())]

new_df.dropna(subset = ['Total Snow (cm)'], inplace = True)

In [174]:
new_df.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 178674 entries, 0 to 228218
Data columns (total 21 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   latitude                   2011 non-null    object
 1   longitude                  2011 non-null    object
 2   weekday                    2011 non-null    object
 3   time                       2011 non-null    object
 4   Station ID                 2011 non-null    object
 5   avalanche_occured          178674 non-null  float64
 6   Station Name               178674 non-null  object
 7   Climate ID_y               178674 non-null  object
 8   Year                       178674 non-null  int64
 9   Month                      178674 non-null  int64
 10  Day                        178674 non-null  int64
 11  Max Temp (°C)              172694 non-null  float64
 12  Min Temp (°C)              172148 non-null  float64
 13  Mean Temp (°C)             170332 non-null  float64
 14  Total Rain (mm)            91473 non-null   float64
 15  Total Snow (cm)            178674 non-null  float64
 16  Total Precip (mm)          170272 non-null  float64
 17  Snow on Grnd (cm)          105544 non-null  float64
 18  Dir of Max Gust (10s deg)  41067 non-null   float64
 19  Spd of Max Gust (km/h)     66005 non-null   object
 20  temperature range          171459 non-null  float64
dtypes: float64(10), int64(3), object(8)
memory usage: 30.0+ MB

In [175]:
new_df[new_df['Station ID'] == '568']

,latitude,longitude,weekday,time,Station ID,avalanche_occured,Station Name,Climate ID_y,Year,Month,...,Max Temp (°C),Min Temp (°C),Mean Temp (°C),Total Rain (mm),Total Snow (cm),Total Precip (mm),Snow on Grnd (cm),Dir of Max Gust (10s deg),Spd of Max Gust (km/h),temperature range
43522,52.877514,121.284415,Saturday,12:00,568,1.0,BARKERVILLE,1090660,2020,12,...,0.0,-8.0,-4.0,0.0,7.0,7.0,76.0,NaN,NaN,8.0
43523,52.726691,120.870898,Saturday,10:25,568,1.0,BARKERVILLE,1090660,2020,12,...,0.0,-8.0,-4.0,0.0,7.0,7.0,76.0,NaN,NaN,8.0
43524,53.135775,121.474432,Sunday,12:30,568,1.0,BARKERVILLE,1090660,2020,12,...,-1.0,-7.0,-4.0,0.0,3.0,3.0,78.0,NaN,NaN,6.0
43544,52.610860,121.223630,Saturday,12:00,568,1.0,BARKERVILLE,1090660,2021,1,...,0.0,-12.5,-6.3,0.0,1.0,1.0,76.0,NaN,NaN,12.5
43571,52.721744,121.000059,Friday,12:30,568,1.0,BARKERVILLE,1090660,2021,2,...,-1.5,-6.0,-3.8,0.0,8.0,8.0,105.0,NaN,NaN,4.5
43573,53.006580,121.510230,Sunday,13:40,568,1.0,BARKERVILLE,1090660,2021,2,...,-12.5,-23.5,-18.0,0.0,0.0,0.0,105.0,NaN,NaN,11.0
43579,54.108740,121.411910,Saturday,20:48,568,1.0,BARKERVILLE,1090660,2021,2,...,-9.0,-25.5,-17.3,0.0,0.0,0.0,100.0,NaN,NaN,16.5
43583,53.132270,121.454090,Wednesday,15:00,568,1.0,BARKERVILLE,1090660,2021,2,...,-5.0,-18.0,-11.5,0.0,0.0,0.0,107.0,NaN,NaN,13.0
43586,52.608390,121.226670,Saturday,10:00,568,1.0,BARKERVILLE,1090660,2021,2,...,-0.5,-15.5,-8.0,0.0,8.0,8.0,105.0,NaN,NaN,15.0
43594,52.765630,120.967530,Sunday,12:00,568,1.0,BARKERVILLE,1090660,2021,2,...,4.0,-7.0,-1.5,0.0,0.0,0.0,155.0,NaN,NaN,11.0
43597,52.948007,121.505411,Wednesday,10:30,568,1.0,BARKERVILLE,1090660,2021,3,...,1.0,-7.0,-3.0,0.0,0.0,0.0,143.0,NaN,NaN,8.0
43601,52.726660,121.020930,Sunday,14:00,568,1.0,BARKERVILLE,1090660,2021,3,...,2.5,-6.5,-2.0,0.0,1.0,1.0,0.0,NaN,NaN,9.0
43632,54.036625,121.229096,Wednesday,12:03,568,1.0,BARKERVILLE,1090660,2021,4,...,0.0,-4.0,-2.0,2.0,16.0,18.0,155.0,NaN,NaN,4.0

In [176]:
new_df.drop(['Total Rain (mm)','Total Precip (mm)'], axis = 1, inplace = True)

In [177]:
new_df.sample(20)

,latitude,longitude,weekday,time,Station ID,avalanche_occured,Station Name,Climate ID_y,Year,Month,Day,Max Temp (°C),Min Temp (°C),Mean Temp (°C),Total Snow (cm),Snow on Grnd (cm),Dir of Max Gust (10s deg),Spd of Max Gust (km/h),temperature range
38645,NaN,NaN,NaN,NaN,NaN,0.0,SMITHERS AIRPORT AUTO,1077501,2019,9,26,11.1,0.3,5.7,0.6,NaN,NaN,NaN,10.8
93316,NaN,NaN,NaN,NaN,NaN,0.0,NEW DENVER,1145460,2019,1,19,4.0,0.5,2.3,0.0,8.0,NaN,NaN,3.5
219332,NaN,NaN,NaN,NaN,NaN,0.0,CROWSNEST,3051R4R,2021,3,2,4.5,2.6,3.5,0.0,NaN,29.0,71.0,1.9
175317,NaN,NaN,NaN,NaN,NaN,0.0,ARTHABASKA,7020305,2021,1,20,-7.0,-14.0,NaN,4.4,28.0,NaN,NaN,7.0
119614,NaN,NaN,NaN,NaN,NaN,0.0,VAVENBY,1168520,2018,11,30,1.0,-0.5,0.3,0.0,0.0,NaN,NaN,1.5
146951,NaN,NaN,NaN,NaN,NaN,0.0,WHITEHORSE A,2101303,2021,6,8,21.3,2.8,12.1,1.0,NaN,23.0,44.0,18.5
106505,NaN,NaN,NaN,NaN,NaN,0.0,KIMBERLEY PCC,1154203,2019,1,24,1.0,-9.5,-4.3,0.0,11.0,NaN,NaN,10.5
426,NaN,NaN,NaN,NaN,NaN,0.0,CAMPBELL RIVER A,1021261,2017,3,2,8.0,2.0,5.0,0.0,0.0,NaN,NaN,6.0
12113,NaN,NaN,NaN,NaN,NaN,0.0,ALBERNI ROBERTSON CREEK,1030230,2019,2,24,9.0,0.0,4.5,0.0,3.0,NaN,NaN,9.0
102211,NaN,NaN,NaN,NaN,NaN,0.0,FERNIE,1152850,2019,5,18,9.0,5.0,7.0,0.0,0.0,NaN,NaN,4.0
59580,NaN,NaN,NaN,NaN,NaN,0.0,N VANC GROUSE MTN RESORT,1105658,2016,11,21,3.0,1.5,2.3,0.0,0.0,NaN,NaN,1.5
140171,NaN,NaN,NaN,NaN,NaN,0.0,DEASE LAKE A,1192341,2020,11,26,0.1,-8.5,-4.2,0.0,NaN,21.0,41.0,8.6
17006,NaN,NaN,NaN,NaN,NaN,0.0,TOFINO A,1038205,2020,7,15,20.0,12.5,16.3,0.0,0.0,NaN,NaN,7.5
172409,NaN,NaN,NaN,NaN,NaN,0.0,BEAVERLODGE RCS,3070600,2019,2,4,-29.3,-41.3,-35.3,0.3,18.0,NaN,NaN,12.0
199533,NaN,NaN,NaN,NaN,NaN,0.0,SUSKWA VALLEY,107G879,2021,4,23,16.0,-3.5,6.3,0.0,0.0,NaN,NaN,19.5
22611,NaN,NaN,NaN,NaN,NaN,0.0,PORT MELLON,1046332,2017,11,17,6.0,0.7,3.4,1.0,NaN,NaN,<31,5.3
188560,NaN,NaN,NaN,NaN,NaN,0.0,ST. JOHN'S INTL A,8403505,2021,4,17,4.0,-0.5,1.8,0.0,NaN,6.0,55.0,4.5
190304,NaN,NaN,NaN,NaN,NaN,0.0,WABUSH A,8504177,2020,1,25,-8.3,-21.0,-14.7,0.0,NaN,NaN,NaN,12.7
178592,NaN,NaN,NaN,NaN,NaN,0.0,CAP-MADELEINE,7051163,2018,1,7,-11.2,-18.0,-14.6,1.0,10.0,21.0,85,6.8
176497,NaN,NaN,NaN,NaN,NaN,0.0,MCTAVISH,7024745,2018,4,14,6.6,-3.8,1.4,1.0,4.0,2.0,33,10.4

In [178]:
incident_df = new_df.groupby('avalanche_occured').apply(lambda x: x.sample(n=2011)).reset_index(drop = True)

In [179]:
incident_df

,latitude,longitude,weekday,time,Station ID,avalanche_occured,Station Name,Climate ID_y,Year,Month,Day,Max Temp (°C),Min Temp (°C),Mean Temp (°C),Total Snow (cm),Snow on Grnd (cm),Dir of Max Gust (10s deg),Spd of Max Gust (km/h),temperature range
0,NaN,NaN,NaN,NaN,NaN,0.0,DAWSON CREEK A,1182289,2017,12,4,4.4,-4.1,0.2,1.0,NaN,26.0,61,8.5
1,NaN,NaN,NaN,NaN,NaN,0.0,BLUE RIVER A,1160899,2021,3,9,8.0,-12.5,-2.3,0.0,68.0,NaN,NaN,20.5
2,NaN,NaN,NaN,NaN,NaN,0.0,NELSON CS,1145M29,2018,4,11,12.5,4.4,8.5,1.0,NaN,NaN,<31,8.1
3,NaN,NaN,NaN,NaN,NaN,0.0,CROWSNEST,3051R4R,2017,5,24,18.5,4.0,11.3,1.0,NaN,29.0,74,14.5
4,NaN,NaN,NaN,NaN,NaN,0.0,BOW VALLEY,3050778,2017,12,19,-6.6,-11.5,-9.1,1.0,NaN,NaN,<31,4.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4017,49.471683,124.974924,Sunday,13:30,225,1.0,ALBERNI ROBERTSON CREEK,1030230,2021,1,31,5.0,2.0,3.5,0.0,0.0,NaN,NaN,3.0
4018,51.276221,117.096621,Monday,17:24,1364,1.0,GOLDEN A,1173210,2019,1,28,-4.0,-13.5,-8.8,0.0,26.0,NaN,NaN,9.5
4019,50.406700,122.434130,Friday,12:00,536,1.0,PEMBERTON AIRPORT CS,1086082,2021,2,26,9.8,-1.2,4.3,0.0,20.0,NaN,NaN,11.0
4020,49.427499,117.285401,Sunday,10:30,6839,1.0,NELSON CS,1145M29,2021,1,31,3.4,1.1,2.3,4.7,4.0,NaN,NaN,2.3
4021,51.312630,115.938470,Friday,12:00,27378,1.0,BANFF CS,3050519,2020,2,28,6.4,0.9,3.7,0.0,38.0,21.0,39.0,5.5

In [180]:
incident_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4022 entries, 0 to 4021
Data columns (total 19 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   latitude                   2011 non-null   object
 1   longitude                  2011 non-null   object
 2   weekday                    2011 non-null   object
 3   time                       2011 non-null   object
 4   Station ID                 2011 non-null   object
 5   avalanche_occured          4022 non-null   float64
 6   Station Name               4022 non-null   object
 7   Climate ID_y               4022 non-null   object
 8   Year                       4022 non-null   int64
 9   Month                      4022 non-null   int64
 10  Day                        4022 non-null   int64
 11  Max Temp (°C)              3946 non-null   float64
 12  Min Temp (°C)              3954 non-null   float64
 13  Mean Temp (°C)             3927 non-null   float64
 14  Total Snow (cm)            4022 non-null   float64
 15  Snow on Grnd (cm)          2791 non-null   float64
 16  Dir of Max Gust (10s deg)  905 non-null    float64
 17  Spd of Max Gust (km/h)     1283 non-null   object
 18  temperature range          3937 non-null   float64
dtypes: float64(8), int64(3), object(8)
memory usage: 597.1+ KB

In [181]:
incident_df.drop(['Dir of Max Gust (10s deg)','Spd of Max Gust (km/h)','Snow on Grnd (cm)'], axis = 1, inplace = True)

In [182]:
incident_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4022 entries, 0 to 4021
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   latitude           2011 non-null   object
 1   longitude          2011 non-null   object
 2   weekday            2011 non-null   object
 3   time               2011 non-null   object
 4   Station ID         2011 non-null   object
 5   avalanche_occured  4022 non-null   float64
 6   Station Name       4022 non-null   object
 7   Climate ID_y       4022 non-null   object
 8   Year               4022 non-null   int64
 9   Month              4022 non-null   int64
 10  Day                4022 non-null   int64
 11  Max Temp (°C)      3946 non-null   float64
 12  Min Temp (°C)      3954 non-null   float64
 13  Mean Temp (°C)     3927 non-null   float64
 14  Total Snow (cm)    4022 non-null   float64
 15  temperature range  3937 non-null   float64
dtypes: float64(6), int64(3), object(7)
memory usage: 502.9+ KB

In [183]:
incident_df.drop(['latitude','longitude','weekday','time','Station ID'], axis = 1, inplace = True)

In [184]:
incident_df.dropna(axis = 0, inplace = True)

In [185]:
incident_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3927 entries, 0 to 4021
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   avalanche_occured  3927 non-null   float64
 1   Station Name       3927 non-null   object
 2   Climate ID_y       3927 non-null   object
 3   Year               3927 non-null   int64
 4   Month              3927 non-null   int64
 5   Day                3927 non-null   int64
 6   Max Temp (°C)      3927 non-null   float64
 7   Min Temp (°C)      3927 non-null   float64
 8   Mean Temp (°C)     3927 non-null   float64
 9   Total Snow (cm)    3927 non-null   float64
 10  temperature range  3927 non-null   float64
dtypes: float64(6), int64(3), object(2)
memory usage: 368.2+ KB

In [186]:
y = incident_df['avalanche_occured']
X = incident_df.drop(['avalanche_occured','Station Name','Climate ID_y','Year','Month','Day'], axis = 1)

In [187]:
X.head()

,Max Temp (°C),Min Temp (°C),Mean Temp (°C),Total Snow (cm),temperature range
0,4.4,-4.1,0.2,1.0,8.5
1,8.0,-12.5,-2.3,0.0,20.5
2,12.5,4.4,8.5,1.0,8.1
3,18.5,4.0,11.3,1.0,14.5
4,-6.6,-11.5,-9.1,1.0,4.9

In [188]:
from sklearn.model_selection import train_test_split

# Filter warnings
import warnings
warnings.filterwarnings('ignore')

In [189]:
from sklearn.linear_model import LogisticRegression

In [190]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=1)

In [191]:
my_logreg = LogisticRegression(C = 0.1,random_state=1)
my_logreg.fit(X_train,y_train)

LogisticRegression(C=0.1, random_state=1)

In [192]:
print(my_logreg.score(X_train,y_train))
print(my_logreg.score(X_test,y_test))

0.7357529449219994
0.7175572519083969

In [202]:
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn import svm
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.feature_selection import SelectPercentile, f_regression
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import Ridge
from sklearn.pipeline import Pipeline
from sklearn.neighbors import KNeighborsClassifier

In [215]:
# Placeholders for the series of steps we're using

pipe_estimators = [('scaling', StandardScaler()),
                   ('classifier', DecisionTreeClassifier())]

avalanche_pipe = Pipeline(pipe_estimators)

In [248]:
# SVMs, DTs, KNNs

logit_gird = {'classifier': [LogisticRegression()],
              'scaling': [None, StandardScaler(),MinMaxScaler()],
              'classifier__C': [10**i for i in range(-2, 3)]}

svm_grid = {'classifier': [SVC(C=1)],
            'scaling': [None, StandardScaler(),MinMaxScaler()],
            'classifier__C': [10**i for i in range(-2, 3)]}


DT_grid = {'classifier': [DecisionTreeClassifier()],
            'scaling': [None, MinMaxScaler()],
            'classifier__max_depth': [2,3,4,5,6,7]}


KNN_grid = {'classifier': [KNeighborsClassifier()],
            'scaling': [StandardScaler(), MinMaxScaler(), None],
            'classifier__n_neighbors': [6, 10, 16, 17]}


param_grid = [svm_grid, 
              DT_grid,
              KNN_grid,
              logit_gird]



avalanche_gridsearch = GridSearchCV(breast_cancer_pipe, param_grid=param_grid, cv=5, verbose=2)
avalanche_gridsearch.fit(X_train, y_train)

aler(); total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=2, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=2, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=3, scaling=None; total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=3, scaling=None; total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=3, scaling=None; total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=3, scaling=None; total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=3, scaling=None; total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=3, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=3, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=3, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=3, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=3, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=4, scaling=None; total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=4, scaling=None; total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=4, scaling=None; total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=4, scaling=None; total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=4, scaling=None; total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=4, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=4, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=4, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=4, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=4, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=5, scaling=None; total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=5, scaling=None; total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=5, scaling=None; total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=5, scaling=None; total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=5, scaling=None; total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=5, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=5, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=5, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=5, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=5, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=6, scaling=None; total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=6, scaling=None; total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=6, scaling=None; total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=6, scaling=None; total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=6, scaling=None; total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=6, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=6, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=6, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=6, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=6, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=7, scaling=None; total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=7, scaling=None; total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=7, scaling=None; total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=7, scaling=None; total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=7, scaling=None; total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=7, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=7, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=7, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=7, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=7, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=6, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=6, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=6, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=6, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=6, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=6, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=6, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=6, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=6, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=6, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=6, scaling=None; total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=6, scaling=None; total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=6, scaling=None; total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=6, scaling=None; total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=6, scaling=None; total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=10, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=10, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=10, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=10, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=10, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=10, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=10, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=10, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=10, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=10, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=10, scaling=None; total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=10, scaling=None; total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=10, scaling=None; total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=10, scaling=None; total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=10, scaling=None; total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=16, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=16, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=16, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=16, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=16, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=16, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=16, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=16, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=16, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=16, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=16, scaling=None; total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=16, scaling=None; total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=16, scaling=None; total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=16, scaling=None; total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=16, scaling=None; total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=17, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=17, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=17, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=17, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=17, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=17, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=17, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=17, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=17, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=17, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=17, scaling=None; total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=17, scaling=None; total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=17, scaling=None; total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=17, scaling=None; total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=17, scaling=None; total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=0.01, scaling=None; total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=0.01, scaling=None; total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=0.01, scaling=None; total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=0.01, scaling=None; total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=0.01, scaling=None; total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=0.01, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=0.01, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=0.01, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=0.01, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=0.01, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=0.01, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=0.01, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=0.01, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=0.01, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=0.01, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=0.1, scaling=None; total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=0.1, scaling=None; total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=0.1, scaling=None; total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=0.1, scaling=None; total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=0.1, scaling=None; total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=0.1, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=0.1, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=0.1, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=0.1, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=0.1, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=0.1, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=0.1, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=0.1, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=0.1, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=0.1, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=1, scaling=None; total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=1, scaling=None; total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=1, scaling=None; total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=1, scaling=None; total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=1, scaling=None; total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=1, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=1, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=1, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=1, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=1, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=1, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=1, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=1, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=1, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=1, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=10, scaling=None; total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=10, scaling=None; total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=10, scaling=None; total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=10, scaling=None; total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=10, scaling=None; total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=10, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=10, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=10, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=10, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=10, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=10, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=10, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=10, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=10, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=10, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=100, scaling=None; total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=100, scaling=None; total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=100, scaling=None; total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=100, scaling=None; total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=100, scaling=None; total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=100, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=100, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=100, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=100, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=100, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=100, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=100, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=100, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=100, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=100, scaling=MinMaxScaler(); total time=   0.0s

GridSearchCV(cv=5,
             estimator=Pipeline(steps=[('scaling', StandardScaler()),
                                       ('classifier',
                                        DecisionTreeClassifier())]),
             param_grid=[{'classifier': [SVC(C=10)],
                          'classifier__C': [0.01, 0.1, 1, 10, 100],
                          'scaling': [None, StandardScaler(), MinMaxScaler()]},
                         {'classifier': [DecisionTreeClassifier()],
                          'classifier__max_depth': [2, 3, 4, 5, 6, 7],
                          'scaling': [None, MinMaxScaler()]},
                         {'classifier': [KNeighborsClassifier()],
                          'classifier__n_neighbors': [6, 10, 16, 17],
                          'scaling': [StandardScaler(), MinMaxScaler(), None]},
                         {'classifier': [LogisticRegression()],
                          'classifier__C': [0.01, 0.1, 1, 10, 100],
                          'scaling': [None, StandardScaler(), MinMaxScaler()]}],
             verbose=2)

In [251]:
avalanche_gridsearch.best_estimator_

Pipeline(steps=[('scaling', None), ('classifier', SVC(C=10))])

In [252]:
print(avalanche_gridsearch.best_estimator_.score(X_train, y_train))
print(avalanche_gridsearch.best_estimator_.score(X_test, y_test))

0.7545367717287488
0.7442748091603053

In [238]:
def condition(arg):
    if arg['Min Temp (°C)'] < 0 and arg['Max Temp (°C)'] > 0:
        return 1
    else:
        return 0

In [239]:
X['Freeze Thaw'] = X.apply(condition, axis = 1)

In [240]:
X

,Max Temp (°C),Min Temp (°C),Mean Temp (°C),Total Snow (cm),temperature range,Freeze Thaw
0,4.4,-4.1,0.2,1.0,8.5,1
1,8.0,-12.5,-2.3,0.0,20.5,1
2,12.5,4.4,8.5,1.0,8.1,0
3,18.5,4.0,11.3,1.0,14.5,0
4,-6.6,-11.5,-9.1,1.0,4.9,0
...,...,...,...,...,...,...
4017,5.0,2.0,3.5,0.0,3.0,0
4018,-4.0,-13.5,-8.8,0.0,9.5,0
4019,9.8,-1.2,4.3,0.0,11.0,1
4020,3.4,1.1,2.3,4.7,2.3,0
4021,6.4,0.9,3.7,0.0,5.5,0

In [241]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=2)

In [242]:
avalanche_gridsearch2 = GridSearchCV(breast_cancer_pipe, param_grid=param_grid, cv=5, verbose=2)
avalanche_gridsearch2.fit(X_train, y_train)

aler(); total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=2, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=2, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=3, scaling=None; total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=3, scaling=None; total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=3, scaling=None; total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=3, scaling=None; total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=3, scaling=None; total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=3, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=3, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=3, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=3, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=3, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=4, scaling=None; total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=4, scaling=None; total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=4, scaling=None; total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=4, scaling=None; total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=4, scaling=None; total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=4, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=4, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=4, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=4, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=4, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=5, scaling=None; total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=5, scaling=None; total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=5, scaling=None; total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=5, scaling=None; total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=5, scaling=None; total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=5, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=5, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=5, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=5, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=5, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=6, scaling=None; total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=6, scaling=None; total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=6, scaling=None; total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=6, scaling=None; total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=6, scaling=None; total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=6, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=6, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=6, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=6, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=6, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=7, scaling=None; total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=7, scaling=None; total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=7, scaling=None; total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=7, scaling=None; total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=7, scaling=None; total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=7, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=7, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=7, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=7, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=DecisionTreeClassifier(), classifier__max_depth=7, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=6, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=6, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=6, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=6, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=6, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=6, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=6, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=6, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=6, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=6, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=6, scaling=None; total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=6, scaling=None; total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=6, scaling=None; total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=6, scaling=None; total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=6, scaling=None; total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=10, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=10, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=10, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=10, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=10, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=10, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=10, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=10, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=10, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=10, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=10, scaling=None; total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=10, scaling=None; total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=10, scaling=None; total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=10, scaling=None; total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=10, scaling=None; total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=16, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=16, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=16, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=16, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=16, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=16, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=16, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=16, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=16, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=16, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=16, scaling=None; total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=16, scaling=None; total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=16, scaling=None; total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=16, scaling=None; total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=16, scaling=None; total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=17, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=17, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=17, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=17, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=17, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=17, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=17, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=17, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=17, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=17, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=17, scaling=None; total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=17, scaling=None; total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=17, scaling=None; total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=17, scaling=None; total time=   0.0s
[CV] END classifier=KNeighborsClassifier(), classifier__n_neighbors=17, scaling=None; total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=0.01, scaling=None; total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=0.01, scaling=None; total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=0.01, scaling=None; total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=0.01, scaling=None; total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=0.01, scaling=None; total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=0.01, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=0.01, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=0.01, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=0.01, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=0.01, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=0.01, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=0.01, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=0.01, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=0.01, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=0.01, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=0.1, scaling=None; total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=0.1, scaling=None; total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=0.1, scaling=None; total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=0.1, scaling=None; total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=0.1, scaling=None; total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=0.1, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=0.1, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=0.1, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=0.1, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=0.1, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=0.1, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=0.1, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=0.1, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=0.1, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=0.1, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=1, scaling=None; total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=1, scaling=None; total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=1, scaling=None; total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=1, scaling=None; total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=1, scaling=None; total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=1, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=1, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=1, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=1, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=1, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=1, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=1, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=1, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=1, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=1, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=10, scaling=None; total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=10, scaling=None; total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=10, scaling=None; total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=10, scaling=None; total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=10, scaling=None; total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=10, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=10, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=10, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=10, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=10, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=10, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=10, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=10, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=10, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=10, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=100, scaling=None; total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=100, scaling=None; total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=100, scaling=None; total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=100, scaling=None; total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=100, scaling=None; total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=100, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=100, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=100, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=100, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=100, scaling=StandardScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=100, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=100, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=100, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=100, scaling=MinMaxScaler(); total time=   0.0s
[CV] END classifier=LogisticRegression(), classifier__C=100, scaling=MinMaxScaler(); total time=   0.0s

GridSearchCV(cv=5,
             estimator=Pipeline(steps=[('scaling', StandardScaler()),
                                       ('classifier',
                                        DecisionTreeClassifier())]),
             param_grid=[{'classifier': [SVC(C=10)],
                          'classifier__C': [0.01, 0.1, 1, 10, 100],
                          'scaling': [None, StandardScaler(), MinMaxScaler()]},
                         {'classifier': [DecisionTreeClassifier()],
                          'classifier__max_depth': [2, 3, 4, 5, 6, 7],
                          'scaling': [None, MinMaxScaler()]},
                         {'classifier': [KNeighborsClassifier()],
                          'classifier__n_neighbors': [6, 10, 16, 17],
                          'scaling': [StandardScaler(), MinMaxScaler(), None]},
                         {'classifier': [LogisticRegression()],
                          'classifier__C': [0.01, 0.1, 1, 10, 100],
                          'scaling': [None, StandardScaler(), MinMaxScaler()]}],
             verbose=2)

In [246]:
avalanche_gridsearch2.best_estimator_

Pipeline(steps=[('scaling', None), ('classifier', SVC(C=10))])

In [247]:
print(avalanche_gridsearch2.best_estimator_.score(X_train, y_train))
print(avalanche_gridsearch2.best_estimator_.score(X_test, y_test))

0.7545367717287488
0.7442748091603053