In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
avalanche_df = pd.read_csv('avalanche.csv')

In [9]:
avalanche_df.shape

(2450, 3)

In [24]:
avalanche_df.head()

                    date_occured    latitude    longitude
0  Thursday, May 27, 2021, 14:00  59.713938°  135.095702°
1  Saturday, May 22, 2021, 09:00  51.171303°  116.051255°
2    Sunday, May 16, 2021, 11:00  50.427560°  122.473110°
3  Saturday, May 15, 2021, 12:00  51.394930°  116.265450°
4    Friday, May 14, 2021, 12:30  51.395059°  116.257463°

In [14]:
avalanche_df.drop(columns=avalanche_df.columns[0], axis=1, inplace=True)

In [18]:
locations = avalanche_df['location'].str.split(expand=True)

In [23]:
avalanche_df['latitude'] = locations[0]
avalanche_df['longitude'] = locations[2]
avalanche_df.drop('location', axis = 1, inplace=True)